<page-header text="Reset Password" breadcrumbs="false"></page-header>

<div class="page-content">

	<alert type="success" icon="check" ng-show="message" text="{{ message }}"></alert>
	
	<div class="fake-table data-table">
		<div class="tr">
			<div class="td row-property center">Email Address</div>
			<div class="td row-value">
				<input type="text" class="form-control" ng-model="email">
			</div>
		</div>

		<div class="tr">
			<div class="td row-property"></div>
			<div class="td row-value">
				<button ng-click="submit()" class="btn btn-primary">Reset</button>
			</div>
		</div>
	</div>

</div>