.page-advanced-filter
	padding 1em
	border-radius 3px
	margin 0 2em
	-webkit-font-smoothing antialiased
	background color-secondary
	border-left 1px solid #eee
	color color-adv-text
	
	&.filter-open
		background color-adv-bg
	
	h2
		margin 0
		font-weight 100
	
	label
		width 100px
		display inline-block
	
	label.checkbox
		margin-bottom 0
		
		input
			margin-right 1em
	
	input[type=text],
	input[type=number]
		background color-adv-bg
		color color-adv-text
		border 1px solid color-adv-border
	
	.item
		padding 0.2em
		
	.checkbox-item
		border-radius 3px
		border 1px solid #ccc
		padding 0.5em 1em
		margin 0 1em 0 0
		width auto
	
	.group-heading
		padding 0.2em
		font-size 1.2em
		color color-adv-heading
		display none
		
	section
		background transparent
		border transparent
		color #fff
		padding 0
		margin-right 0 !important
		margin-left 0 !important