.alert
	-webkit-font-smoothing antialiased
	border 0
	color #fff
	background #000
	
	i.fa
		margin-right 1em
	
	&.alert-primary
		background color-primary
		
		&.alert-inverted
			color color-primary
			border-color color-primary
	
	&.alert-secondary
		color #000
		background color-secondary
		
		&.alert-inverted
			color color-secondary
			border-color color-secondary
	
	&.alert-success
		background color-success
		
		&.alert-inverted
			color color-success
			border-color color-success
	
	&.alert-info
		background color-info
		
		&.alert-inverted
			color color-info
			border-color color-info
	
	&.alert-warning
		background color-warning
		
		&.alert-inverted
			color color-warning
			border-color color-warning
	
	&.alert-danger
		background color-danger
		
		&.alert-inverted
			color color-danger
			border-color color-danger
		
	&.alert-inverted
		background none
		border 1px solid