.alert
	-webkit-font-smoothing antialiased
	border 0
	color #fff
	background-color #000
	
	p
		margin-bottom 0
	
	i.fa
		margin-right 0.7em
		
	&.alert-none
		background-color transparent
		color #000
	
	&.alert-primary
		background-color color-primary
		
		&.alert-inverted
			color color-primary
			border-color color-primary
	
	&.alert-secondary
		color #000
		background-color #fff
		
		&.alert-inverted
			color color-secondary
			border-color color-secondary
	
	&.alert-success
		background-color color-success
		
		&.alert-inverted
			color color-success
			border-color color-success
	
	&.alert-info
		background-color color-info
		
		&.alert-inverted
			color color-info
			border-color color-info
	
	&.alert-warning
		background-color color-warning
		
		&.alert-inverted
			color color-warning
			border-color color-warning
	
	&.alert-danger
		background-color color-danger
		
		&.alert-inverted
			color color-danger
			border-color color-danger
		
	&.alert-inverted
		background-color none
		border 1px solid