@keyframes color-cycle
	0%
		background-color color-primary
	20%
		background-color color-info
	40%
		background-color color-success
	60%
		background-color color-warning
	80%
		background-color color-danger
	100%
		background-color color-primary

@keyframes fade-in
	0%
		opacity 0
	100%
		opacity 1