.breadcrumbs
	background color-page-breadcrumbs-background
	color color-page-breadcrumbs-text
	padding 0.8em 2em
	
	ul
		list-style none
		padding 0
		margin 0
		font-size 0.8em
		
		li:after
			content '»' // » → ⇢
			display: inline-block
			margin 0 0.5em
			
		li:last-of-type:after
			content ''
