.breadcrumbs
	color color-breadcrumbs-text
	padding 0 2em
	display flex
	align-items center
	position absolute
	top 0
	left 0
	
	& > *
		animation fade-in animation-fade-in-speed
		
	a
		color color-breadcrumbs-link
		
		&:hover
			color color-breadcrumbs-hover
	
	ul
		list-style none
		padding 0
		margin 0
		font-size 0.7em
		text-transform uppercase
		
		li:after
			content '/' // » → ⇢
			display inline-block
			margin 0 0.5em
			color color-breadcrumbs-delimiter
			
		li:last-of-type:after
			content ''
