.breadcrumbs
	background color-page-breadcrumbs-background
	color color-page-breadcrumbs-text
	padding 1em 2em
	margin-top -1em
	
	ul
		list-style none
		padding 0
		margin 0
		
		li:after
			content '»'
			display: inline-block
			margin 0 0.5em
			
		li:last-of-type:after
			content ''
