.data-table

	.sorter
		cursor pointer

		&:hover, &.sorter-active
			color color-primary

	input
		font-weight normal

	th.button-col, td.button-col
		width 10%
		padding 0
		text-align right

		& > *
			margin-right 0.5em