.data-table
	
	table
		table-layout fixed
		background color-data-table-cell

	thead th
		border-bottom 1px solid color-data-table-border

	td, th
		border 1px solid color-data-table-border
		word-break break-word

	th
		padding 1em
		background color-data-table-th-background

	.sorter
		cursor pointer

		&:hover, &.sorter-active
			color color-primary
		
		.sorter-icon
			color #bbb

		&.sorter-active .sorter-icon
			color color-primary

	input
		font-weight normal

	th.button-col, td.button-col
		width 80px

		& > *
			margin-right 0.5em

			&:last-child
				margin-right 0
	
	.no-records
		td
			padding 2em
			text-align center

	.data-table-limit-select
		margin 0 0.25em

	.data-table-indicator
		width 10px
		height 10px
		border-radius 5px
		display inline-block
		margin-right 0.5em
