.error-box
	margin 1em 0
	border 1px solid color-danger
	border-radius 5px
	overflow hidden

	.title
		background color-danger
		color #fff
		padding 0.5em 1em
		
		i.fa
			margin-right 1em
		
	.content
		background #fff
		color color-danger
		padding 0.5em 1em
		
		p:last-of-type
			margin 0