.filter
	position relative
	font-size 0.9em
	padding 1em 2.1em
	-webkit-font-smoothing antialiased
	background whitesmoke
			
	i.fa
		position absolute
		left 0.8em
		top 0.8em
		color #999
		pointer-events none
		color color-filter-icon
		
		transition color transition-time ease
		
	input.form-control
		padding-left 2em
		font-weight 600
		text-transform uppercase
		transition background transition-time ease, color transition-time ease
		
		&::-webkit-input-placeholder
			color color-filter-placeholder
		
		&:hover, &:focus
			border-color color-form-border-highlight
			
			& + i.fa
				color color-form-border-highlight
	
	.output
		position absolute
		top 0
		height 45px
		display flex
		align-items center
		right 3em
		color color-filter-active-text
		font-weight bold
		text-transform uppercase
	
	&:not(.standalone)
		&.active
			input.form-control
				background color-filter-active-background
				// border-bottom 2px solid color-filter-active-border
				color color-filter-active-text
				
				&:hover, &:focus
					// border-color color-filter-active-border
					
					& + i.fa
						color color-filter-active-icon
			
			i.fa
				color color-filter-active-icon
				
		&.nomatch
			input.form-control
				background color-filter-nomatch
		
		input.form-control
			padding 1.12em 1.12em 1.02em 3.5em
			font-size 0.9em
			background color-filter-background
			// border 1px solid rgba(0, 0, 0, 0.2)
			// border-bottom 2px solid color-filter-border
			border 0
			border-radius 5px
			color color-filter-text
			
		
			&:hover, &:focus
				// border-color color-filter-border
				
				& + i.fa
					color color-filter-icon
			
		i.fa
			left 3.5em
			top 2.04em
			
		.output
			top 1em