.form-control:focus
	border-color #777

.form-title
	margin-bottom 1em
	
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
	
input[type=text].form-control,
input[type=password].form-control,
input[type=date].form-control,
input[type=email].form-control,
input[type=number].form-control,
input[type=url].form-control,
input[type=search].form-control,
select.form-control
	transition border-color transition-time ease
	
	&:hover
		border-color color-form-border-hover	
	&:focus
		border-color color-form-border-highlight
	
input[type=date]
	line-height normal !important
	
input[ng-model=filter]
	margin-bottom 1em
	
.filter
	position relative
	// width 25%
	// float right
	font-size 0.9em
	
	&:not(.standalone)
		input.form-control
			padding 1.22em 1.12em 1.02em 4.5em
			margin-bottom 0
			font-size 0.9em
			background color-filter-background
			border none
			border-bottom 1px solid color-filter-border
			border-radius 0
			color color-filter-text
		
			&:hover, &:focus
				border-color color-filter-border
				
				& + i.fa
					color color-filter-icon
			
		i.fa
			left 2.2em
			top 1.04em
			
	i.fa
		position absolute
		left 0.8em
		top 0.8em
		color #999
		pointer-events none
		color color-filter-icon
		
		transition color transition-time ease
		
	input.form-control
		padding-left 2em
		font-weight 600
		-webkit-font-smoothing antialiased
		text-transform uppercase
		
		&::-webkit-input-placeholder
			color color-filter-placeholder
		
		&:hover, &:focus
			border-color color-form-border-highlight
			
			& + i.fa
				color color-form-border-highlight