.form-control:focus
	border-color #777
	
.form-control-short
	width 60px

.form-title
	margin-bottom 1em
	
input[type=text].form-control,
input[type=password].form-control,
input[type=date].form-control,
input[type=email].form-control,
input[type=number].form-control,
input[type=url].form-control,
input[type=search].form-control,
select.form-control
	// transition border-color transition-time ease
	
	&:hover
		border-color color-form-border-hover	
	&:focus
		border-color color-form-border-highlight
	
input[type=date]
	line-height normal !important

		
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
	transition background-color 5000s ease-in-out 0s
	
.date-input
	position relative
	
	i.fa-calendar
		position absolute
		top 0.7em
		left 0.7em
		color color-form-icon
		pointer-events none
	
	input
		padding-left 2em
		
	.close
		position absolute
		top 0.3em
		right 0.3em
		
		i.fa
			color color-form-icon
			
.has-select-clearer
	position relative
	
	.close
		position absolute
		top 0.9em
		right 2.5em
		font-size 1em
		outline 0
		
		i.fa
			color color-form-icon
			
[disabled] *
	pointer-events none