.importer
	background #fff
	margin-bottom 1em
	border-radius border-rad
	padding 1em
	
	label, input
		margin-right 1em
		
	label
		margin 0 1em 0 0
		
	h2
		font-weight 100
		margin-top 1em
		margin-bottom 0
		padding-bottom 0.5em
	
	p
		border-bottom 1px solid #eee
		margin 0
		padding 0.5em 0
	
	p:last-of-type
		margin-bottom 0
		border-bottom none