.label
	padding 0.5em 1em
	background #000
	color #fff
	-webkit-font-smoothing antialiased
	
	&.label-pill
		border-radius 20px
		padding 0em 0.6em
		font-weight bold

	&.label-primary
		background color-primary

	&.label-secondary
		background color-secondary
		color #000

	&.label-success
		background color-success

	&.label-info
		background color-info

	&.label-warning
		background color-warning

	&.label-danger
		background color-danger
	
	&.label-dark
		background #555