.list-item
	display block
	text-decoration none
	color #000
	padding 0.5em 1em
	margin 0
	border-radius 3px
	border-bottom 1px solid #eee
	display flex
	transition background 0.2s, color 0.2s, transform 0.2s
	
	&:hover
		background #fff
		color color-primary
		text-decoration none
		
		.title
			opacity 0.7
		
		.btn.btn-info
			background none
		
	.btn.btn-info
		background none
	
	.title
		font-size 0.8em
		font-weight bold
		color inherit
		opacity 0.2
		transition opacity 0.2s
		
	.content
		padding 0 0.5em
		margin-left -0.4em
		border-radius 3px
		display inline-block
		color inherit
