.loader
	position absolute
	top 0
	left 250px
	width calc(100% - 250px)
	height 100%
	z-index 9999999
	background color-loader-bg
	color color-loader-icon
	border-radius body-rad
	pointer-events none
	opacity 0
	transition opacity 0.2s linear
	
	display flex
	justify-content center
		
	.icon
		margin-top calc((100vh / 2) - 50px)
		
	&.loader-show
		opacity 1
		
	@media (max-width bp-md)
		top 82px
		left 0
		width 100%
		height calc(100% - 82px)
		
		.icon
			margin-top 200px
	
	@media (max-width bp-sm)
		top 0
		left 0
		width 100%
		height 100%
		align-items center
		
		.icon
			margin-top 0
			
.loader-img
	width 50px
	height 50px
	
.loader-spin
	animation loader-spin 2s infinite linear
			
@keyframes loader-spin
	0%
		transform rotate(0deg)
	100%
		transform rotate(360deg)