.pagination-container
	.pagination
		user-select none
		
		.page-link
			min-width 42px
			text-align center
			cursor pointer
			text-decoration none
			
	.page-picker
		width 100px
		margin 1em 0 1em 1em