.settings-wysiwyg
	height 200px
	
.settings-terms
	border-radius border-rad
	padding 1em 0
	overflow-y auto
	
	li
		margin 0 0 0.5em
	
.settings-terms-check
	margin 1em 0 0
	
	input
		margin-right 1em