.table
	th
		border-top 0
		text-transform uppercase
		font-weight 600
		font-size 0.8em
	
	td
		vertical-align middle
		
	.table-col-controls
		width 100px
	
	.table-col-checkbox
		width 30px
		
	.table-col-short-input
		width 100px
		
	.table-col-select-medium
		width 200px
		
	.row-property
		font-weight bold
		width 150px
		
	.filterable-row
		.btn
			opacity 0
			transition opacity 0.2s
			
		&:hover
			.btn
				opacity 1
				
	.filterable-cell
		.btn
			margin-left 1em
			
	.table
		background none
	
	&.middle-table
		td
			vertical-align middle
		
	&.data-table
		tr:first-of-type td
			border-top 0
			
		td
			vertical-align top
			
		ul
			padding 0 0 0 1.2em
			margin 0
	
	&.booking-table
		td
			vertical-align middle
			
		.booking-heading-quantity
			width 50px
			
	td.sm-show, th.sm-show
		display none
	
	@media (max-width bp-sm)
		.sm-hide
			display none
		
		td.sm-show, th.sm-show
			display table-cell
	
	.user-note
		border-bottom 1px solid #eceeef
		padding: 0.2em 0
		
		.user-note-controls
			opacity 0
			cursor default
			
		&:hover .user-note-controls
			opacity 1