.table
	th
		border-top 0
		
	thead th
		border-bottom-width 1px
		
	.table-col-controls
		width 100px
	
	.table-col-checkbox
		width 30px
		
	.table-col-short-input
		width 100px
		
	.row-property
		font-weight bold
		width 150px
	
	&.middle-table
		td
			vertical-align middle
		
	&.data-table
		tr:first-of-type td
			border-top 0
			
		ul
			padding 0 0 0 1.2em
			margin 0
	
	&.booking-table
		td
			vertical-align middle
		
		.booking-heading-product
			width auto
			
		.booking-heading-quantity
			width 100px
			
		.booking-heading-control
			width 50px