.table, .fake-table
	th, .th
		border-top 0
		text-transform uppercase
		font-weight 600
		font-size 0.8em
	
	td, .td
		vertical-align middle
		
	td, th, .td, .th
		padding 0.5em 0.75em
		
	label
		margin-bottom 0
		
	td.center
		vertical-align middle
		
	.td.center
		display flex
		align-items center

	.table-col-widest
		width 100%
		
	.table-col-controls
		width 100px
	
	.table-col-checkbox
		width 30px
		
	.table-col-short-input
		width 100px
		
	.table-col-select-medium
		width 200px
		
	.row-property
		width 150px
		
	.print-date-row
		display none
				
	.filterable-cell
		.btn
			margin-left 1em
			
	.table
		background none
	
	&.middle-table
		td
			vertical-align middle
		
	&.info-table
		width auto

		td
			vertical-align top
			border-top 0

		td:first-of-type
			// text-align right
			color color-info-table-property
			
		ul:not(.ns-dropdown-list)
			padding 0 0 0 1.2em
			margin 0
			
			&.no-bullets
				padding-left 0
	
	&.booking-table
		td
			vertical-align middle
			
		.booking-heading-quantity
			width 50px
			
	td.sm-show, th.sm-show
		display none
	
	@media (max-width bp-sm)
		
		td.sm-show, th.sm-show
			display table-cell
	
	.user-note
		
		.user-note-content
			line-height 2
			
		.user-note-controls
			opacity 0
			cursor default
		
		&:hover
			background #eceeef
			
			.user-note-controls
				opacity 1
		
.dropdown-menu
	table td, table th
		padding 0
		border none

.info-table-wrapper
	padding 1em
	background color-panel-background
	border 1px solid color-panel-border