.table-active, .table-active > td,
.table-active > th,
.table-hover .table-active:hover,
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th,
.table-hover tbody tr:hover
	background rgba(0, 0, 0, 0.03)


.swal2-modal
	font-family font-stack
	
	.swal2-title
		font-weight 100

	.swal2-content
		font-weight normal
		
	button
		outline 0
	
	.swal2-confirm
		border-left-color color-primary !important
		border-right-color color-primary !important
		background color-primary !important
		
	.swal2-cancel
		border-left-color color-secondary !important
		border-right-color color-secondary !important
		background color-secondary !important
		color #000
		
.mce-panel
	border none !important
	border-radius border-rad !important
	background-color #eee !important
	margin-bottom 1px
	
.mce-toolbar-grp .mce-flow-layout-item
	margin-bottom 1px !important
	
.mce-btn
	background-color #eee !important
	
	&:hover, &.mce-active
		border-color #ddd !important
		border-radius border-rad !important
		background-color #ddd !important
		
.issue-subvalue
	width 100px
	display flex
	justify-content center
	align-items center