*:not(.ui-select-container) input[type=search]
	width 100%
	width 100%
	
.ui-select-container
	width 100%
	position relative
	
	&:after
		content '\f078'
		display block
		position absolute
		top 12px
		right 12px
		z-index 999
		font normal normal normal 14px/1 FontAwesome
		color color-select-icon
		pointer-events none
		
	&:hover, &:focus
		&:after
			color color-select-icon-highlight
	
	input[type=search]
		width 100% !important
		
	.btn-default-focus .btn-default
		border 1px solid color-select-icon-highlight
		
	.ui-select-match
		outline 0 !important
		box-shadow none !important
		
	.setheight
		height 1.5em
		
	&.ng-not-empty .btn
		padding .5rem .75rem .25rem
		
	.btn
		background color-select-background
		color color-select-color
		border 1px solid color-select-border
		cursor text
		
		&:hover
			background color-select-background
			color color-select-color
			border-color color-form-border-hover
			
	&.ui-select-dark
		.ui-select-toggle, .ui-select-search
			color color-select-text
			background color-select-background
			
.open>.dropdown-menu
	border 1px solid #eee
	// paperShadow(3)

.dropdown-menu, .ui-select-dropdown
	border 0
	// paperShadow(3)
	
.ui-select-bootstrap
	.ui-select-match-text span
		display block
		
	.ui-select-choices-row.active > span
		background color-select-highlight

.select2 > .select2-choice.ui-select-match
	/* Because of the inclusion of Bootstrap */
	height 29px
	
// Calendar

.uib-datepicker-popup
	padding 1em
	box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
	
	*
		outline 0 !important
	
	.btn
		box-shadow none !important
		
	.uib-datepicker-popup th
		font-weight bold
		
	small
		font-weight inherit
	
	.text-info
		color inherit !important
	.btn:disabled
		color color-date-disabled !important
		
	.uib-left:before
		content '\f053'
		font normal normal normal 14px/1 FontAwesome
	
	.uib-right:before
		content '\f054'
		font normal normal normal 14px/1 FontAwesome
		
	.uib-button-bar
		text-align center
		
		.pull-left
			float none
		.btn-info
			background color-primary
			border-radius border-rad !important
			&:before
				content 'Select '
		.btn-danger, .btn-success
			display none
			
.table-active, .table-active > td,
.table-active > th,
.table-hover .table-active:hover,
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th,
.table-hover tbody tr:hover
	background rgba(0, 0, 0, 0.03)