*:not(.ui-select-container) input[type=search]
	width 100%
	width 100%
	
.ui-select-container
	width 100%
	position relative
	
	&:after
		content '\f078'
		display block
		position absolute
		top 12px
		right 12px
		z-index 999
		font normal normal normal 14px/1 FontAwesome
		color color-select-icon
		pointer-events none
		
	&:hover, &:focus
		&:after
			color color-select-icon-highlight
	
	input[type=search]
		width 100% !important
		
	.ui-select-match
		outline 0 !important
		box-shadow none !important
		
	.setheight
		height 1.5em
		
	&.ng-not-empty .btn
		padding .5rem .75rem .25rem
		
	.btn
		background color-select-background
		color color-select-color
		border 1px solid color-select-border
		cursor text
		
		&:hover
			background color-select-background
			color color-select-color
			border-color color-select-border-highlight
	
.ui-select-bootstrap
	.ui-select-match-text span
		display block
		
	.ui-select-choices-row.active > span
		background color-select-highlight

.select2 > .select2-choice.ui-select-match
	/* Because of the inclusion of Bootstrap */
	height 29px
	
// Calendar

.uib-datepicker-popup
	.text-info
		color #fff