.wrapper
	background #fff
	border-radius body-rad
	overflow hidden
	position relative
	
.bump-down
	margin-top 1em
	
.pad-down
	padding-bottom 1em
	
.spaced-row
	& > *
		margin-right 1em
		
	& > *:last-child
		margin-right 0
	
.space-row
	& > *
		margin-right 1em
	
	& > *:last-of-type
			margin-right 0

ul.no-bullets
	padding-left 0
	list-style none