.wrapper
	border-radius body-rad
	position relative
	
.frame
	background color-frame-bg
	margin 1em auto
	max-width 1000px
	width 100%
	border-radius 0 body-rad body-rad 0
	
	@media (max-width bp-sm)
		border-radius 0
		
	@media (max-width bp-md)
		border-radius 0 0 body-rad body-rad
	
.bump-down
	margin-top 1em
	
.pad-down
	padding-bottom 1em
	
.pad-top
	padding-top 1em
	
.push-right
	margin-right 1em
	
.push-left
	margin-left 0.5em
	
.push-down
	margin-top 1em
	
.full-height
	height 100%
	
.spaced-row
	& > *
		margin-right 1em
		
	& > *:last-child
		margin-right 0
	
.space-row
	& > *
		margin-right 1em
	
	& > *:last-of-type
			margin-right 0

ul.no-bullets
	padding-left 0
	list-style none
	
.center-text
	text-align center
	
.bg-primary
	background color-primary
	color #fff

.bg-secondary
	background color-secondary
	color #000

.bg-success
	background color-success
	color #fff

.bg-info
	background color-info
	color #fff

.bg-warning
	background color-warning
	color #fff

.bg-danger
	background color-danger !important
	color #fff

.bg-dark
	background #555
	color #fff
	
paperShadow(level = 1)
	if level == 1
		box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
	else if level == 2
		box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	else if level == 3
		box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
	else if level == 4
		box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
	else if level == 5
		box-shadow 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)
