<header class="page-header" layout="row" justify="between" align="center">
	<h1>All Units</h1>
	<btn icon="plus" small url="#/manage/unit/new">New</btn>
</header>

<breadcrumbs></breadcrumbs>

<div class="page-content">
	
	<div class="filter">
		<input type="search" ng-model="filter" class="form-control" placeholder="filter...">
		<i class="fa fa-search"></i>
	</div>

	<table class="table table-hover table-filtered" ng-hide="!filtered.length">
		<thead>
			<tr>
				<th class="table-col-name">Unit No</th>
				<th class="table-col-code">Serial No</th>
				<th class="table-col-name">Asset No</th>
				<th class="table-col-name">Product</th>
				<th class="table-col-controls"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="unit in units | filter: filter as filtered">
				<td><a href="#/manage/unit/{{ unit.id }}">{{ unit.unit_number }}</a></td>
				<td>{{ unit.serial_number }}</td>
				<td>{{ unit.asset_number }}</td>
				<td><a href="#/manage/product/{{ unit.product.id }}">{{ unit.product.name }}</a></td>
				<td>
					<btn url="#/manage/unit/{{ unit.id }}" type="info" icon="arrow-right" small>View</btn>
				</td>
			</tr>
		</tbody>
	</table>
	
	<alert type="danger" class="bump-down" icon="info-circle" text='There are no units that match <b>"{{ filter }}"</b>' ng-if="!filtered.length"></alert>

</div>