<header class="page-header" layout="row" justify="between" align="center">
	<h1>All Units</h1>
	
	<btn icon="plus" url="manage/unit/new">New</btn>
</header>

<breadcrumbs></breadcrumbs>

<filter model="filter" filtered="filtered"></filter>

<div class="page-content">

	<table class="table table-hover table-filtered" ng-hide="!filtered.length">
		<thead>
			<tr>
				<th class="table-col-name" width="10%">Unit No</th>
				<th class="table-col-code" width="10%">Serial No</th>
				<th class="table-col-name" width="10%">Asset No</th>
				<th class="table-col-name">Product</th>
				<!-- <th class="table-col-controls" width="10%"></th> -->
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="unit in units | filter: filter | page: page : 10 : 30 as filtered">
				<td><a href="manage/unit/{{ unit.id }}">{{ unit.unit_number }}</a></td>
				<td>{{ unit.serial_number }}</td>
				<td>{{ unit.asset_number }}</td>
				<td><a href="manage/product/{{ unit.product.id }}">{{ unit.product.name }}</a></td>
				<!-- <td>
					<btn url="manage/unit/{{ unit.id }}" type="info" icon="arrow-right" small>View</btn>
				</td> -->
			</tr>
		</tbody>
	</table>

	<pager current="page" limit="10" data="units" filtered="filtered" filter="filter" ng-show="!filter && units.length >= 30"></pager>

</div>