<header class="page-header" layout="row" justify="between" align="center">
	<h1>{{ group.code }}</h1>
	
	<div>
		<btn type="info" icon="floppy-o" ng-show="saved === undefined">Autosave on</btn>
		<btn type="info" icon="cog" ng-show="!saved && saved !== undefined" spinning>Saving</btn>
		<btn type="success" icon="check" ng-show="saved">Saved</btn>
	</div>


</header>

<breadcrumbs></breadcrumbs>

<filter model="filter" filtered="filtered"></filter>

<div class="page-content">
	
	<table class="table table-hover table-striped middle-table" ng-hide="!filtered.length">
		<thead>
			<tr>
				<th class="table-col-checkbox"></th>
				<th class="table-col-code">Name</th>
				<th class="table-col-code">Type</th>
				<th class="table-col-code">Units</th>
				<th class="table-col-short-input">Quantity</th>
				<th class="table-col-short-input">Days</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products | filter: filter as filtered">
				<td><input type="checkbox" ng-model="product._allowed" ng-change="allow(product)"></td>
				<td><a href="#/manage/product/{{ product.id }}">{{ product.name }}</a></td>
				<td><a href="#/manage/product_type/{{ product.type.id }}">{{ product.type.name }}</a></td>
				<td>{{ product.units.length }}</td>
				<td><input type="number" ng-model="product._quantity" ng-change="update(product)" max="{{ product.units.length }}" min="1" class="form-control form-control-sm"></td>
				<td><input type="number" ng-model="product._days_allowed" ng-change="update(product)" min="1" class="form-control form-control-sm"></td>
			</tr>
		</tbody>
	</table>

</div>