<header class="page-header" layout="row" justify="between" align="center">
	<h1>Edit Class: {{ group.code }}</h1>
	<btn type="primary" small icon="floppy-o" ng-click="save()">Save</btn>
</header>

<breadcrumbs></breadcrumbs>

<div class="page-content">

	<form ng-submit="save()">
		<div class="form-group">
			<label for="code">Code</label>
			<input type="text" id="code" ng-model="group.code" class="form-control">
		</div>

		<div class="form-group">
			<label for="type">Type</label>
			<ui-select ng-model="selected.type" id="type">
				<ui-select-match allow-clear="false" placeholder="​">
					<span ng-bind="$select.selected.code + ($select.selected.code ? ' - ' : '') + $select.selected.name" class="setheight"></span>
				</ui-select-match>
				<ui-select-choices repeat="type in (types | filter: $select.search) track by type.id">
					<div ng-bind-html="type.code + ' - ' + type.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>

		<section>
			<div class="form-group">
				<div layout="row" align="start" class="pad-down spaced-row">
					<label>Tutors</label>
					<btn type="info" small icon="plus" ng-click="addTutor()"></btn>
				</div>
				
				<ul class="no-bullets">
					<li layout="row" class="spaced-row pad-down" ng-repeat="tutor in selected.tutors">
						<ui-select ng-model="selected.tutors[$index]" ratio="1">
							<ui-select-match allow-clear="false" placeholder="​">
								<span ng-bind="$select.selected.name" class="setheight"></span>
							</ui-select-match>
							<ui-select-choices repeat="user in (users | filter: tutorRole | filter: $select.search) track by user.id">
								<div ng-bind-html="user.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
						<btn type="danger" icon="times" ng-click="removeTutor(tutor)"></btn>
					</li>
				</ul>
			</div>
		</section>
	</form>

</div>