<page-header text="All Classes">
	<btn icon="plus" url="manage/class/new">New</btn>
</page-header>

<filter model="filter" filtered="filtered"></filter>

<div class="page-content">

	<a ng-repeat="group in groups | filter: filter | page : 10 : 30 as filtered" href="manage/class/{{ group.id }}" class="list-item">
		<div class="col" ratio="1">
			<div class="title">Code</div>
			<div class="content">{{ group.code }}</div>
		</div>
		<div class="col" ratio="1">
			<div class="title">Type</div>
			<div class="content">{{ group.type.name }}</div>
		</div>
	</a>

	<!-- <table class="table table-hover table-filtered" ng-hide="!filtered.length">
		<thead>
			<tr>
				<th class="table-col-code">Code</th>
				<th class="table-col-name">Type</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="group in groups | filter: filter | page : page : 10 : 30 as filtered">
				<td><a href="manage/class/{{ group.id }}">{{ group.code }}</a></td>
				<td><a href="manage/class_type/{{ group.type.id }}">{{ group.type.name }}</a></td>
			</tr>
		</tbody>
	</table> -->

	<pager current="page" limit="10" data="groups" filtered="filtered" filter="filter" ng-show="!filter && groups.length >= 30"></pager>
	
</div>