<sidebar></sidebar>

<div class="frame manage" ratio="1" ng-show="!error">
	
	<header class="page-header" layout="row" justify="between" align="center">
		<h1>All Classes</h1>
		<btn icon="plus" small url="#/manage/class/new">New</btn>
	</header>
	
	<breadcrumbs></breadcrumbs>
	
	<div class="page-content">
		
		<input type="search" ng-model="filter" class="form-control" placeholder="filter...">
	
		<table class="table table-hover" ng-hide="!filtered.length">
			<thead>
				<tr>
					<th class="table-col-code">Code</th>
					<th class="table-col-name">Type</th>
					<th class="table-col-controls"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="group in groups | filter: filter as filtered">
					<td><a href="#/manage/class/{{ group.id }}">{{ group.code }}</a></td>
					<td><a href="#/manage/class_type/{{ group.type.id }}">{{ group.type.name }}</a></td>
					<td>
						<btn url="#/manage/class/{{ group.id }}" type="info" icon="arrow-right" small>View</btn>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="alert alert-danger bump-down" ng-if="!filtered.length">
			<i class="fa fa-info-circle"></i>
			There are no classes that match <b>"{{ filter }}"</b>
		</div>

	</div>
	
</div>