<header class="page-header">
	<h1>New Class</h1>
</header>

<breadcrumbs></breadcrumbs>

<div class="page-content">

	<form ng-submit="save()">
		<div class="form-group">
			<label for="code">Code</label>
			<input type="text" id="code" ng-model="code" class="form-control">
		</div>
		
		<div class="form-group">
			<label for="type">Type</label>
			<ui-select ng-model="selected.type" id="type">
				<!-- placeholder has a zero-width space -->
				<ui-select-match allow-clear="false" placeholder="​">
					<span ng-bind="$select.selected.name" class="setheight"></span>
				</ui-select-match>
				<ui-select-choices repeat="type in (types | filter: $select.search) track by type.id">
					<div ng-bind-html="type.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>
		
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Create">
		</div>
	</form>

</div>