<sidebar></sidebar>

<div class="frame manage" ratio="1" ng-show="!error">
	
	<header class="page-header" layout="row" align="center" justify="between">
		<h1>Class: {{ group.code ? group.code : '[Not found]' }}</h1>
		
		<div class="button-row" ng-hide="!group">
			<a href="#/edit_class/{{ group.id }}" class="btn btn-primary btn-sm">Edit</a>
			<button class="btn btn-danger btn-sm" ng-click="delete()"><i class="fa fa-trash"></i></button>
		</div>
	</header>
	
	<breadcrumbs></breadcrumbs>
	
	<div class="page-content">
	
		<div class="alert alert-danger" ng-hide="group">
			<i class="fa fa-exclamation-circle"></i>
			It looks like this class doesn't exist.
		</div>
	
		<table class="table" ng-hide="!group">
			<tr>
				<td class="row-property">Code</td>
				<td class="row-value">{{ group.code }}</td>
			</tr>
			<tr>
				<td class="row-property">Type</td>
				<td class="row-value"><a href="#/view_class_type/{{ group.type.id }}">{{ group.type.name }}</a></td>
			</tr>
			<tr>
				<td class="row-property">Students</td>
				<td>
					<ul ng-show="group.users.length">
						<li ng-repeat="user in group.users">
							<a href="#/view_user/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a>
						</li>
					</ul>
					
					<div class="alert alert-info" ng-if="!group.users.length">
						<p><i class="fa fa-exclamation-circle"></i> No students in this class</p>
					</div>
				</td>
			</tr>
		</table>

	</div>
	
</div>