<page-header text="All Product Types">
	<btn icon="plus" url="manage/product-type/new">New</btn>
</page-header>

<filter model="filter" filtered="filtered"></filter>

<div class="page-content">

	<a ng-repeat="type in product_types | filter: filter | page : page : 10 : 30 as filtered" href="manage/product_type/{{ type.id }}" class="list-item">
		<div class="col" ratio="1">
			<div class="title">Name</div>
			<div class="content">{{ type.name }}</div>
		</div>
		<div class="col" ratio="1">
			<div class="title">No. of Products</div>
			<div class="content">{{ type.products.length }}</div>
		</div>
	</a>

	<!-- <table class="table table-hover table-filtered" ng-hide="!filtered.length">
		<thead>
			<tr>
				<th class="table-col-name">Name</th>
				<th class="table-col-name">No of Products</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="type in product_types | filter: filter | page : page : 10 : 30 as filtered">
				<td><a href="manage/product_type/{{ type.id }}">{{ type.name }}</a></td>
				<td>{{ type.products.length }}</td>
			</tr>
		</tbody>
	</table> -->

	<pager current="page" limit="10" data="product_types" filtered="filtered" filter="filter" ng-show="!filter && product_types.length >= 30"></pager>

</div>