<nav class="pagination-container" layout="row" justify="center">
	<ul class="pagination">
		<li class="page-item" ng-class="{disabled: !atStart}">
			<a href="#/bookings?page=1{{ query }}" class="page-link">First</a>
		</li>
		<li class="page-item" ng-class="{disabled: filter.page == 1}">
			<a href="#/bookings?page={{ filter.page - 1 }}{{ query }}" class="page-link">&laquo;</a>
		</li>
		<li class="page-item" ng-repeat="page in pages" ng-class="{active: filter.page == page}">
			<a href="#/bookings?page={{ page }}{{ query }}" class="page-link">{{ page }}</a>
		</li>
		<li class="page-item" ng-class="{disabled: filter.page == last}">
			<a href="#/bookings?page={{ filter.page + 1 }}{{ query }}" class="page-link">&raquo;</a>
		</li>
		<li class="page-item" ng-class="{disabled: filter.page == last}">
			<a href="#/bookings?page={{ last }}{{ query }}" class="page-link">Last ({{ last }})</a>
		</li>
	</ul>

	<select ng-model="current" ng-change="goto()" ng-options="('page: ' + num) for num in allpages" class="form-control page-picker"></select>
</nav>