*
	box-sizing border-box
	
body
	margin 0
	padding 3em
	background color-primary
	font-family 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif
	
	@media (max-width bp-sm)
		padding 0
		
	&.konami-code
		animation color-cycle 10s infinite
	
[ui-view]
	background #fff
	border-radius body-rad
	overflow hidden
	
.bump-down
	margin-top 1em