*
	box-sizing border-box
	
body
	margin 0
	padding body-padding
	background color-body-bg
	font-family 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif
	
	@media (max-width bp-sm)
		padding 0
		
	&.konami-code
		.sidebar
			animation color-cycle 10s infinite
		
	strong, b
		font-weight 600
		
	a
		color color-clickable
		
		&:hover
			color color-clickable-hover