*
	box-sizing border-box
	
body
	margin 0
	padding body-padding
	background color-body-bg
	font-family font-stack
	
	@media (max-width bp-sm)
		padding 0
		
	strong, b
		font-weight 600
		
	a
		color color-clickable
		
		&:hover
			color color-clickable-hover
