.page-header
	background color-page-header-background
	color color-page-header-text
	border-radius 0 body-rad 0 0
	position relative
	
	h1
		margin 0
		font-weight 300
		
	& > *
		animation fade-in animation-fade-in-speed
		
	.title-holder
		padding 1em 2em
		border-bottom 1px solid color-page-header-border
		
	.breadcrumbs
		order 2
		
	// .btn.btn-primary
	// 	color color-page-header-background
	// 	background color-dark
		
	// 	&:hover
	// 		background darken(color-dark, 10%)
			
	.count
		background color-page-header-count-bg
		color color-page-header-count-text
		padding 0.3em 0.9em
		border-radius 23px
		margin-left 1.5em
		font-weight bold
		font-size 0.7em
		user-select none
		pointer-events none

.page-content
	flex 1
	padding 2em
	animation fade-in animation-fade-in-speed
	background whitesmoke

.page-dates
	background color-page-dates-background
	padding 0.95em 2em 1em
	
	.page-user
		padding-top 1em
		
.page-meta
	background #fff
	padding 0.5em 0.5em 0.5em 1em
	border-radius 5px
	margin-bottom 1em
	
	p, label
		margin 0
	
	select.form-control
		width 100px
		display inline-block
		margin-left 1em

section
	margin 1em
	padding 1em
	background color-page-section-background
	color color-page-section-text
	border 1px solid color-page-section-border
	border-radius border-rad
	
	&:first-of-type
		margin-left 0
	
	&:last-of-type
		margin-right 0
	
	h2
		margin-bottom 0.5em
	
.date-row
	-webkit-font-smoothing antialiased
	
	& > *
		border-radius border-rad
		background #333
		color #fff
		text-align center
		
	p
		margin 0
		padding 1em
		
	h2
		padding 1em
		margin 0
		font-size 1.2em
		font-weight bold
		width 101px
		text-align left
		// background rgba(255, 255, 255, 0.2)
			
	.icon
		padding 2em
		background rgba(255, 255, 255, 0.2)
			
	i.fa
		font-size 3em
	
	.pickup
		background color-pickup-bg
		color color-date-text
		margin-right 1em
	
	.due
		background color-due-bg
		color color-date-text