.page-header
	padding 0 2em
	background color-page-header-background
	color color-page-header-text
	height top-height
	display flex
	align-items center
	justify-content space-between
	border-radius 0 body-rad 0 0
	
	h1
		margin 0
		font-weight 300
		
	& > *
		animation fade-in animation-fade-in-speed

.page-content
	flex 1
	padding 2em
	animation fade-in animation-fade-in-speed

.page-dates
	background color-page-dates-background
	padding 0.95em 2em 1em
	
	.page-user
		padding-top 1em

section
	margin 1em
	padding 1em
	background color-page-section-background
	color color-page-section-text
	border 1px solid color-page-section-border
	border-radius border-rad
	
	&:first-of-type
		margin-left 0
	
	&:last-of-type
		margin-right 0
	
	h2
		margin-bottom 0.5em
	
.date-row
	-webkit-font-smoothing antialiased
	
	& > *
		border-radius border-rad
		background #333
		color #fff
		text-align center
		
	p
		margin 0
		padding 1em
		
	h2
		padding 1em
		margin 0
		font-size 1.2em
		font-weight bold
		width 101px
		text-align left
		// background rgba(255, 255, 255, 0.2)
			
	.icon
		padding 2em
		background rgba(255, 255, 255, 0.2)
			
	i.fa
		font-size 3em
	
	.pickup
		background color-info
		margin-right 1em
	
	.due
		background color-danger