.page-header
	padding 0 2em
	background color-page-header-background
	color color-page-header-text
	height top-height
	display flex
	align-items center
	justify-content space-between
	border-radius 0 body-rad 0 0
	
	h1
		margin 0
		font-weight 300
		
	& > *
		animation fade-in animation-fade-in-speed


.page-content
	flex 1
	padding 2em
	animation fade-in animation-fade-in-speed

.page-dates
	background color-breadcrumbs-background
	padding 0.95em 2em 1em
	
	.page-user
		padding-top 1em

section
	margin 2em 0
	padding 1em
	background color-page-section-background
	color color-page-section-text
	border 1px solid color-page-section-border
	border-radius border-rad
	
	&:first-child
		margin-top 0
	
	h2
		margin-bottom 0.5em