@media print
	body.page-view_booking
		color #000
				
		.page-content
			background #fff
		
		.sidebar, .breadcrumbs, .page-header, .col-notes, .date-row, .print-hide
			display none
			
		.print-date-row
			display table-row