#app-layout
	
	header
		padding 2em
		margin 0 0 1em 0
		background color-sidebar-background
		color color-sidebar-text
		
		img
			height 50px
			
	label
		width 150px
		
	input
		width 300px
		
	h2
		margin-left 1em
		
	.panel
		padding 2em
		
	button i.fa
		margin-right 0.5em