.sidebar
	padding 0 1em
	background color-sidebar-background
	color color-sidebar-text
	border-radius body-rad 0 0 body-rad
	-webkit-font-smoothing antialiased
	
	@media (max-width bp-sm)
		width auto
		max-width initial
		min-width initial
		border-radius 0
		
	@media (max-width bp-md)
		width 100%
		max-width initial
		min-width initial
		border-radius body-rad body-rad 0 0
	
	.site-logo
		padding 0.5em
		
		@media (max-width bp-md)
			padding 1em 1em 1em 0
			height auto
	
	.logo
		position relative
		
		.caption
			position absolute
			bottom 0
			right 0
			background color-sidebar-background
			color #999
			font-size 0.7em
			font-weight bold
			text-transform uppercase

		img
			min-width 50px
			min-height 50px
			// margin .5em 1em .5em 2em
			
			@media (max-width bp-md)
				margin-left 1em
	
	h1
		font-size 1.5em
		align-self center
		font-weight 400
		margin 0
		color color-secondary
		
		@media (max-width bp-md)
			display none
			
		@media (max-width bp-sm)
			display block
	
	ul
		list-style none
		padding 0
		margin 0
		
	a
		color color-sidebar-text
		text-decoration none
		display flex
		align-items center
		padding 0.5em 1em
		height 100%
		font-size 0.9em
		transition background-color transition-time ease
		border-left 1px solid color-sidebar-border
		
		@media (max-width bp-md)
			border-top 0
			display flex
			height 100%
			
		@media (max-width bp-sm)
			padding 1em
		
	a:hover
		background color-sidebar-hover
		color color-sidebar-text
	
	.current a
		color color-sidebar-highlight