<div class="page-advanced-filter">
	
	<div layout="row" justify="between" align="center" class="filter-header">
		<h2>Advanced Filter</h2>
		<div class="button-group">
			<btn type="success" icon="caret-down" ng-if="filterOpen" ng-click="toggleFilter()"></btn>
			<btn type="success" icon="caret-right" ng-if="!filterOpen" ng-click="toggleFilter()"></btn>
		</div>
	</div>

	<div ng-show="filterOpen" class="filter-drawer">

		<div layout="row">
			<div class="filter-col" layout="col" ratio="1">
				<section layout="col">
					<div class="group-heading first">Date Ranges</div>
					<div class="item">
						<label>After</label>
						<input type="text" ng-model="filterOptions.afterDate" ng-change="search()" class="form-control" uib-datepicker-popup="{{ dateOptions.format }}" is-open="openAfterDateControl" datepicker-options="dateOptions" ng-click="openAfterDate()">
					</div>
					<div class="item">
						<label>Before</label>
						<input type="text" ng-model="filterOptions.beforeDate" ng-change="search()" class="form-control" uib-datepicker-popup="{{ dateOptions.format }}" is-open="openBeforeDateControl" datepicker-options="dateOptions" ng-click="openBeforeDate()">
					</div>
				</section>
			</div>

			<div class="filter-col" layout="col" ratio="1">
				<section layout="col">
					<div class="group-heading">Types</div>
					<div class="item">
						<label class="checkbox">
							<input type="checkbox" ng-model="filterOptions.showClosed" ng-change="toggleClosed()"> Show closed
						</label>
					</div>
				</section>

				<section layout="col">
					<div class="group-heading">Per Page</div>
					<div class="item">
						<input type="number" ng-model="perPage" class="form-control">
					</div>
				</section>
			</div>
		</div>

		<div layout="row" justify="between">
			<btn type="info" icon="search" ng-click="applyFilter()">Apply Filter</btn>
			<btn type="warning" icon="times">Clear</btn>
		</div>
	</div>
</div>