<page-header text="{{ type.code }} - {{ type.name }}">
	<div class="btn-group">
		<a href="/class-type/{{ type.id }}/edit" class="btn btn-primary btn-sm btn-icon"><i class="fa fa-pencil"></i>Edit</a>
		<button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<a href="/class-type/{{ type.id }}/products" class="dropdown-item btn-icon"><i class="fa fa-camera"></i>Allowed Products</a>
			<span class="dropdown-item btn-icon" ng-click="delete()"><i class="fa fa-trash"></i>Delete</span>
		</div>
	</div>
</page-header>

<div class="page-content">

	<div class="info-table-wrapper">
		<table class="info-table">
			<tr>
				<td class="row-property">Code</td>
				<td class="row-value">{{ type.code }}</td>
			</tr>
			<tr>
				<td class="row-property">Name</td>
				<td class="row-value">{{ type.name }}</td>
			</tr>
		</table>
	</div>

	<hr class="section-separator">

	<h2>Classes</h2>
	<my-table data="classesDataTable"></my-table>

	<hr class="section-separator">

	<h2>Allowed Products</h2>
	<my-table data="productsDataTable"></my-table>

</div>