<sidebar></sidebar>

<div class="frame" ratio="1">
	<header class="page-header">
		<h1>Register</h1>
	</header>
	
	<div class="page-content">
		<div class="alert alert-danger" ng-show="error">
			<i class="fa fa-exclamation-circle"></i>{{ error }}
		</div>
		
		<div class="alert alert-info" ng-show="info">
			<i class="fa fa-exclamation-circle"></i>{{ info }}
		</div>
		
		<div class="alert alert-warning" ng-show="warning">
			<i class="fa fa-exclamation-circle"></i>{{ warning }}
		</div>
		
		<form ng-submit="register()">
			<div layout="row sm-col">
				<div class="form-group" ratio="1">
					<label for="last_name">First Name</label>
					<input type="text" id="first_name" ng-model="first_name" class="form-control">
				</div>
				<div class="form-group" ratio="1">
					<label for="last_name">Last Name</label>
					<input type="text" id="last_name" ng-model="last_name" class="form-control">
				</div>
			</div>
			<div layout="row sm-col">
				<div class="form-group" ratio="1">
					<label for="email">Email Address</label>
					<input type="email" id="email" ng-model="email" class="form-control">
				</div>
				<div class="form-group" ratio="1">
					<label for="phone">Phone Number</label>
					<input type="text" id="phone" ng-model="phone" class="form-control">
				</div>
			</div>
			<div layout="row sm-col">
				<div class="form-group" ratio="1">
					<label for="dob">DOB</label>
					<input type="date" id="dob" ng-model="dob" class="form-control">
				</div>
				<div class="form-group" ratio="1">
					<label for="id_number">Student ID Number</label>
					<input type="text" id="id_number" ng-model="id_number" class="form-control">
				</div>
			</div>
			<div layout="row sm-col">
				<div class="form-group" ratio="1">
					<label for="password">Password</label>
					<input type="password" id="password" ng-model="password" class="form-control">
				</div>
				<div class="form-group" ratio="1">
					<label for="confirm_password">Confirm Password</label>
					<input type="password" id="confirm_password" ng-model="confirm_password" class="form-control">
				</div>
			</div>
			<div layout="row sm-col">
				<div class="form-group" ratio="1">
					<label for="group">Your Class</label>
					<select id="group" ng-model="group_id" ng-options="item.id as item.code for item in groups" class="form-control"></select>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Register">
			</div>
		</form>
	</div>
</div>