color-primary = #3F51B5
color-secondary = #eee
// color-danger = #F44336
color-danger = #FF5722
color-warning = #FFC107
color-info = #00BCD4
color-success = #8BC34A

color-border = #ddd

border-rad = 5px