.alert
	i.fa
		margin-right 1em
	
	&.alert-danger
		color #fff
		border 0
		background color-danger
		-webkit-font-smoothing antialiased
	
	&.alert-info
		color #fff
		border 0
		background color-info
		-webkit-font-smoothing antialiased
	
	&.alert-warning
		color #fff
		border 0
		background color-warning
		-webkit-font-smoothing antialiased