.alert
	i.fa
		margin-right 1em
	
	&.alert-danger
		color #fff
		border 0
		background color-danger
	
	&.alert-info
		color #fff
		border 0
		background color-info
	
	&.alert-warning
		color #fff
		border 0
		background color-warning