[ui-view].ng-enter, [ui-view].ng-leave
	transition opacity 0.2s ease-out
	
[ui-view].ng-enter .frame, [ui-view].ng-leave .frame
	transition opacity 0.2s ease-out

// enter animation begin
[ui-view].ng-enter .frame
	// transform translate3d(1000px, 0, 0)
	opacity 0

// enter animation finish
[ui-view].ng-enter-active .frame
	// transform translate3d(0, 0, 0)
	opacity 1

// leave animation begin
[ui-view].ng-leave .frame
	// transform translate3d(0, 0, 0)
	opacity 1

// leave animation finish
[ui-view].ng-leave-active .frame
	// transform translate3d(-1000px, 0, 0)
	opacity 0