.btn
	border 0
	background black
	color #fff
	
	&.btn-primary
		background color-primary
	
	&.btn-secondary
		background color-secondary
		color #000
	
	&.btn-success
		background color-success
	
	&.btn-info
		background color-info
	
	&.btn-warning
		background color-warning
	
	&.btn-danger
		background color-danger
		
	&:focus, &:active
		outline 0 !important
		