header
	background #eee
	margin-bottom 3em
	padding 1em
	
	.container
		&:before, &:after
			content initial
	
	nav
		ul
			padding 0
			margin 0
			list-style none
			
		li
			margin 0 0 0 1em
		
		a
			color inherit
			text-decoration none