.sidebar-holder
	width 250px

.sidebar
	display flex
	flex-direction column
	box-shadow inset -5px 0 10px rgba(0, 0, 0, 0.1)
	background #eee
	color color-primary
	
	header
		padding 2em
		margin-bottom 1em
	
	img
		width 100px
		align-self center
	
	h1
		font-size 1.6em
		align-self center
		font-weight 100
		margin-top 0.5em
		
	nav
		border-top 1px solid #ddd
	
	ul
		list-style none
		padding 0
		margin 0
		
	a
		color inherit
		text-decoration none
		display block
		padding 0.5em 2em
		transition padding 0.2s ease
		border-bottom 1px solid #ddd
		
		i.fa
			float right
		
		&:hover
			background #fff
			padding-left 2.5em
	
	.current a
		background #fff
		padding-left 2.5em