<div class="sidebar" layout="col sm-row">
	<div class="site-logo" layout="row" justify="center" align="center">
		<!-- <img src="/images/logo2.svg" alt="" class="logo" height="50"> -->
		<div class="logo">
			<img src="/images/yoobee_logo_light.svg" alt="">
			<!-- <span class="caption">Equipment Booking</span> -->
		</div>
		
		<!-- <h1>Booking System</h1> -->
	</div>
	
	<nav layout="col sm-row">
		<!-- guest -->
		<ul layout="col sm-row" ng-if="!auth.isAuthenticated()">

			<li class="title"></li>
			<li nav-link="Login" url="/login"></li>
			<li nav-link="Reset My Password" url="/reset-password"></li>
			<!-- <li nav-link="Register" url="/register"></li> -->
		</ul>
		
		<!-- student -->
		<ul layout="col sm-row" ng-if="auth.isAuthenticated() && user.admin == 0">
			<li class="title">Bookings</li>
			<li nav-link="My Bookings" url="/"></li>
			<li nav-link="Make a Booking" url="/book"></li>

			<li class="title">Settings</li>
			<li nav-link="My Profile" url="home/edit-profile"></li>
			<li nav-link="Logout ({{ user.name }})" url="/logout"></li>
		</ul>
		
		<!-- staff -->
		<ul layout="col sm-row" ng-if="auth.isAuthenticated() && user.admin == 1">
			<li class="title">Bookings</li>
			<li nav-link="My Bookings" url="/"></li>
			<li nav-link="Make a Booking" url="/book"></li>
			<li nav-link="All Bookings" url="/bookings"></li>

			<li class="title">Manage</li>
			<li nav-link="Users" url="/manage/user" number="{{ store.users.length }}"></li>

			<li class="title">Settings</li>
			<li nav-link="My Profile" url="home/edit-profile"></li>
			<li nav-link="Logout ({{ user.name }})" url="/logout"></li>
		</ul>
		
		<!-- manager -->
		<ul layout="col sm-row" ng-if="auth.isAuthenticated() && user.admin == 2">
			<li class="title">Bookings</li>
			<li nav-link="My Bookings" url="/"></li>
			<li nav-link="Make a Booking" url="/book"></li>
			<li nav-link="All Bookings" url="/bookings" number="{{ bookings_count }}" loading="loading_bookings"></li>

			<li class="title">Manage</li>
			<li nav-link="Manage" url="/manage" show-only-sm></li>
			<li nav-link="Users" url="/manage/user" number="{{ store.users.length }}" loading="!store.users.$resolved" class="sm-hide"></li>
			<li nav-link="Class Types" url="/manage/class-type" number="{{ store.group_types.length }}" loading="!store.group_types.$resolved" class="sm-hide"></li>
			<li nav-link="Classes" url="/manage/class" number="{{ store.groups.length }}" loading="!store.groups.$resolved" class="sm-hide"></li>
			<li nav-link="Product Types" url="/manage/product-type" number="{{ store.product_types.length }}" loading="!store.product_types.$resolved" class="sm-hide"></li>
			<li nav-link="Products" url="/manage/product" number="{{ store.products.length }}" loading="!store.products.$resolved" class="sm-hide"></li>
			<li nav-link="Units" url="/manage/unit" number="{{ store.units.length }}" loading="!store.units.$resolved" class="sm-hide"></li>
			<li nav-link="Kits" url="/manage/kit" number="{{ store.kits.length }}" loading="!store.kits.$resolved" class="sm-hide"></li>

			<li class="title">Settings</li>
			<li nav-link="My Profile" url="home/edit-profile"></li>
			<li nav-link="Site Settings" url="site-settings"></li>
			<li nav-link="Logout ({{ user.name }})" url="/logout"></li>
		</ul>
		
	</nav>
</div>