<div class="sidebar" layout="col md-row" align="md-center" justify="md-between">
	<header layout="row" align="center">
		<img src="/images/logo.svg" alt="" class="logo">
	
		<h1>Booking System</h1>
	</header>
	
	<nav>
		<!-- guest -->
		<ul layout="col md-row" align="md-center" ng-if="!auth.isAuthenticated()">
			<li nav-link="Login" url="#/login" icon="sign-in"></li>
			<li nav-link="Register" url="#/register" icon="user-plus"></li>
		</ul>
		
		<!-- student -->
		<ul layout="col md-row" align="md-center" ng-if="auth.isAuthenticated() && user.admin == 0">
			<li nav-link="Home" url="#/" icon="home"></li>
			<li nav-link="Make booking" url="#/book" icon="book"></li>
			<li nav-link="Modify booking" url="#/book/edit" icon="book"></li>
			<li nav-link="Logout ({{ user.name }})" url="#/logout" icon="sign-out"></li>
		</ul>
		
		<!-- staff -->
		<ul layout="col md-row" align="md-center" ng-if="auth.isAuthenticated() && user.admin == 1">
			<li nav-link="Home" url="#/" icon="home"></li>
			<li nav-link="Make booking" url="#/book" icon="book"></li>
			<li nav-link="View bookings" url="#/bookings" icon="camera-retro"></li>
			<li nav-link="Manage Data" url="#/manage" icon="pencil"></li>
			<li nav-link="Logout ({{ user.name }})" url="#/logout" icon="sign-out"></li>
		</ul>
		
		<!-- manager -->
		<ul layout="col md-row" align="md-center" ng-if="auth.isAuthenticated() && user.admin == 2">
			<li nav-link="Home" url="#/" icon="home"></li>
			<li nav-link="Make booking" url="#/book" icon="book"></li>
			<li nav-link="View bookings" url="#/bookings" icon="camera-retro"></li>
			<li nav-link="Manage Data" url="#/manage" icon="pencil"></li>
			<li nav-link="Logout ({{ user.name }})" url="#/logout" icon="sign-out"></li>
		</ul>
		
	</nav>
</div>