<div class="sidebar" layout="col md-row" align="md-stretch" justify="md-between">
	<header layout="row" justify="center" align="center">
		<img src="/images/logo2.svg" alt="" class="logo" height="50">
		
		<!-- <h1>Booking System</h1> -->
	</header>
	
	<nav>
		<!-- guest -->
		<ul layout="col md-row" align="md-stretch" ng-if="!auth.isAuthenticated()">
			<li nav-link="Login" url="#/login"></li>
			<li nav-link="Register" url="#/register"></li>
		</ul>
		
		<!-- student -->
		<ul layout="col md-row" align="md-stretch" ng-if="auth.isAuthenticated() && user.admin == 0">
			<li nav-link="Home" url="#/"></li>
			<li nav-link="Make booking" url="#/book"></li>
			<li nav-link="Modify booking" url="#/book/edit"></li>
			<li nav-link="Logout" url="#/logout"></li>
		</ul>
		
		<!-- staff -->
		<ul layout="col md-row" align="md-stretch" ng-if="auth.isAuthenticated() && user.admin == 1">
			<li nav-link="Home" url="#/"></li>
			<li nav-link="Make booking" url="#/book"></li>
			<li nav-link="View bookings" url="#/bookings"></li>
			<li nav-link="Manage Data" url="#/manage"></li>
			<li nav-link="Logout" url="#/logout"></li>
		</ul>
		
		<!-- manager -->
		<ul layout="col md-row" align="md-stretch" ng-if="auth.isAuthenticated() && user.admin == 2">
			<li nav-link="Home" url="#/"></li>
			<li nav-link="Make booking" url="#/book"></li>
			<li nav-link="View bookings" url="#/bookings"></li>
			<li nav-link="Manage Data" url="#/manage"></li>
			<li nav-link="Logout" url="#/logout"></li>
		</ul>
		
	</nav>
</div>