<header class="page-header" layout="row" align="center" justify="between">
	<h1>Booking: {{ booking.pickup_at | date }}</h1>

	<div class="button-row">
		<btn url="#/booking/{{ booking.id }}/edit" type="info" icon="pencil" small ng-show="booking._priority == 1">Edit</btn>
		<btn url="#/booking/{{ booking.id }}/issue" icon="arrow-right" small ng-show="booking._priority == 1">Issue</btn>
		<btn url="#/booking/{{ booking.id }}/return" icon="arrow-left" small ng-show="booking._priority == 2">Return</btn>
	</div>
</header>

<breadcrumbs></breadcrumbs>

<div class="page-content" ratio="1">

	<table class="table data-table">
		<tr>
			<td class="row-property">By</td>
			<td class="row-value">{{ booking.user.name }}</td>
		</tr>
		<tr>
			<td class="row-property">Status</td>
			<td class="row-value">{{ booking._status }}</td>
		</tr>
		<tr>
			<td class="row-property">Created</td>
			<td class="row-value">{{ booking.created_at | date }}</td>
		</tr>
	</table>

	<div class="date-row" layout="row sm-col md-col">
		<div class="pickup" ratio="1" layout="row md-col sm-col">
			<div layout="row" justify="center" align="center" class="icon">
				<i class="fa fa-upload"></i>
			</div>

			<div layout="col">
				<div layout="row">
					<h2>Pickup</h2>
					<p>{{ booking.pickup_at | date }}</p>
				</div>
				<div layout="row">
					<h2>Issued</h2>
					<p ng-show="booking.taken_at">{{ booking.taken_at | date }}</p>
					<p ng-show="!booking.taken_at">-</p>
				</div>
			</div>
		</div>

		<div class="due" ratio="1" layout="row md-col sm-col">
			<div layout="row" justify="center" align="center" class="icon">
				<i class="fa fa-download"></i>
			</div>

			<div layout="col">
				<div layout="row">
					<h2>Due</h2>
					<p>{{ booking.due_at | date }}</p>
				</div>
				
				<div layout="row">
					<h2>Returned</h2>
					<p ng-show="booking.closed_at">
						{{ booking.closed_at | date }}
						<span ng-show="booking.closed_at && return_difference > 0">
							(Late by {{ return_difference }} hours)
						</span>
					</p>
					<p ng-show="!booking.closed_at">-</p>
				</div>
			</div>
		</div>

	</div>

	<!-- <table class="table data-table">
		<tr>
			<td class="row-property"><i class="fa fa-upload"></i> Pickup</td>
			<td class="row-value">{{ booking.pickup_at | date }}</td>

			<td class="row-property"><i class="fa fa-download"></i> Due</td>
			<td class="row-value">{{ booking.due_at | date }}</td>
		</tr>
		<tr>
			<td class="row-property"><i class="fa fa-upload"></i> Issued</td>
			<td class="row-value">{{ booking.taken_at | date }}</td>

			<td class="row-property"><i class="fa fa-download"></i> Returned</td>
			<td class="row-value">
				{{ booking.closed_at | date }}
				<span ng-show="booking.closed_at && return_difference > 0">
					(Late by {{ return_difference }} hours)
				</span>
			</td>
		</tr>
	</table> -->

	<section>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Unit</th>
				<th>Notes</th>
				<th>Returned</th>
			</tr>
			<tr ng-repeat="product in booking.products">
				<td>{{ product.name }}</td>
				<td>{{ product.pivot.unit_id ? unit(product.pivot.unit_id).unit_number : 'Not issued yet' }}</td>
				<td>{{ product.pivot.notes }}</td>
				<td>{{ product.pivot.returned_at | date }}</td>
			</tr>
		</table>
	</section>
	
</div>