<header class="page-header" layout="row" align="center" justify="between">
	<h1>Booking: {{ booking.pickup_at | date }}</h1>

	<btn url="booking/{{ booking.id }}/return" icon="arrow-left" ng-show="booking._priority == 2">Return</btn>

	<div class="btn-group" ng-show="booking._priority == 1 && user.admin">
		<a href="booking/{{ booking.id }}/issue" class="btn btn-primary btn-icon"><i class="fa fa-arrow-right"></i>Issue</a>
		<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<a href="booking/{{ booking.id }}/edit" class="dropdown-item btn-icon"><i class="fa fa-pencil"></i>Edit</a>
			<span class="dropdown-item btn-icon" ng-click="delete()"><i class="fa fa-trash"></i>Delete</span>
		</div>
	</div>
</header>

<breadcrumbs ng-show="user.admin"></breadcrumbs>

<div class="page-content" ratio="1">

	<div class="alert alert-danger" ng-show="errors.length">
		<p ng-repeat="error in errors">Error: <b>{{ error.message }}</b></p>
	</div>

	<div ng-show="!errors.length">
		<table class="table data-table">
			<tr>
				<td class="row-property">User</td>
				<td class="row-value">{{ booking.user.name }}</td>
			</tr>
			<tr>
				<td class="row-property">Status</td>
				<td class="row-value">{{ booking._status }}</td>
			</tr>
			<tr>
				<td class="row-property">Created</td>
				<td class="row-value">{{ booking.created_at | date }}</td>
			</tr>
			<!-- <tr>
				<td class="row-property">Created by</td>
				<td class="row-value">{{ booking.created_by.name }}</td>
			</tr>
			<tr>
				<td class="row-property">Issued by</td>
				<td class="row-value">{{ booking.issued_by.name }}</td>
			</tr>
			<tr>
				<td class="row-property">Closed by</td>
				<td class="row-value">{{ booking.closed_by.name }}</td>
			</tr> -->
		</table>
		
		<div class="date-row" layout="row sm-col md-col">
			<div class="pickup" ratio="1" layout="row md-col sm-col">
				<div layout="row" justify="center" align="center" class="icon">
					<i class="fa fa-upload"></i>
				</div>
		
				<div layout="col">
					<div layout="row">
						<h2>Pickup</h2>
						<p>{{ booking.pickup_at | date }}</p>
					</div>
					<div layout="row">
						<h2>Issued</h2>
						<p ng-show="booking.taken_at">{{ booking.taken_at | date }}</p>
						<p ng-show="!booking.taken_at">-</p>
					</div>
				</div>
			</div>
		
			<div class="due" ratio="1" layout="row md-col sm-col">
				<div layout="row" justify="center" align="center" class="icon">
					<i class="fa fa-download"></i>
				</div>
		
				<div layout="col">
					<div layout="row">
						<h2>Due</h2>
						<p>{{ booking.due_at | date }}</p>
					</div>
					
					<div layout="row">
						<h2>Returned</h2>
						<p ng-show="booking.closed_at">{{ booking.closed_at | date }}</p>
						<p ng-show="!booking.closed_at">-</p>
					</div>
				</div>
			</div>
		
		</div>
		
		<section>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Unit</th>
					<th>Notes</th>
					<th>Returned</th>
				</tr>
				<tr ng-repeat="product in booking.products">
					<td>{{ product.name }}</td>
					<td>
						<a href="manage/unit/{{ product.pivot.unit_id }}" ng-show="product.pivot.unit_id && user.admin">
							{{ unit(product.pivot.unit_id).unit_number }}
						</a>
						<span ng-show="product.pivot.unit_id && !user.admin">
							{{ unit(product.pivot.unit_id).unit_number }}
						</span>
					</td>
					<td>{{ product.pivot.notes }}</td>
					<td>{{ product.pivot.returned_at | date }}</td>
				</tr>
			</table>
		</section>
	</div>
	
</div>