<page-header text="{{ product.name }}">
	<div class="btn-group">
		<a href="/product/{{ product.id }}/edit" class="btn btn-primary btn-sm btn-icon"><i class="fa fa-pencil"></i>Edit</a>
		<button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<span class="dropdown-item btn-icon" ng-click="delete()"><i class="fa fa-trash"></i>Delete</span>
		</div>
	</div>
</page-header>

<div class="page-content">
	
	<div class="info-table-wrapper">
		<table class="info-table">
			<tr>
				<td class="row-property">Name</td>
				<td class="row-value">{{ product.name }}</td>
			</tr>
			<tr>
				<td class="row-property">Type</td>
				<td class="row-value"><a href="/product-type/{{ product.type.id }}">{{ product.type.name }}</a></td>
			</tr>
			<tr>
				<td class="row-property">Limitless</td>
				<td class="row-value">{{ product.limitless ? 'Yes' : 'No' }}</td>
			</tr>
		</table>
	</div>

	<hr class="section-separator">

	<h2>Units</h2>
	<my-table data="unitsDataTable"></my-table>

	<hr class="section-separator">

	<h2>Class Types</h2>
	<my-table data="classTypesDataTable"></my-table>

	<hr class="section-separator">

	<h2>Kits</h2>
	<my-table data="kitsDataTable"></my-table>

</div>