<page-header text="Issue equipment">
	<btn icon="check" ng-click="issue()">Done</btn>
</page-header>

<div class="page-dates">
	<div layout="row sm-col" class="space-row">
		<div ratio="1">
			<label for="pickup_at">Pickup date</label>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">
					<i class="fa fa-calendar"></i>
				</span>
				<input type="date" ng-model="booking.pickup_at" class="form-control" placeholder="yyyy-mm-dd">
			</div>
		</div>
		<div ratio="1">
			<label for="due_at">Return date</label>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">
					<i class="fa fa-calendar"></i>
				</span>
				<input type="date" ng-model="booking.due_at" class="form-control" placeholder="yyyy-mm-dd">
			</div>
		</div>
	</div>
</div>

<div class="page-content">

	<div class="alert alert-danger" ng-show="errors.length">
		<p ng-repeat="error in errors">Error: <b>{{ error.message }}</b></p>
	</div>
	
	<table class="table table-hover booking-table table-filtered" ng-show="filtered.length">
		<thead>
			<tr>
				<th class="booking-heading-product">Product</th>
				<th class="table-col-select-medium">Unit</th>
			</tr>
		</thead>
		<tr ng-repeat="product in products | filter: filter as filtered track by $index">
			<td>{{ product.name }}</td>
			<td>
				<div ng-show="!product.limitless">
					<dropdown ng-model="product._unit" data="allUnits[$index]" display="{text: 'unit_number'}" order-by="unit_number"></dropdown>
				</div>
				<div ng-show="product.limitless">
					<input type="checkbox" ng-model="product._taken">
				</div>
			</td>
		</tr>
	</table>
	
</div>
