<page-header text="Issue equipment">
	<btn icon="check" ng-click="issue()">Done</btn>
</page-header>

<div class="page-dates">
	<div layout="row sm-col" class="space-row">
		<div ratio="1">
			<label for="pickup_at">Pickup date</label>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">
					<i class="fa fa-calendar"></i>
				</span>
				<input type="date" ng-model="booking.pickup_at" class="form-control" placeholder="yyyy-mm-dd">
			</div>
		</div>
		<div ratio="1">
			<label for="due_at">Return date</label>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">
					<i class="fa fa-calendar"></i>
				</span>
				<input type="date" ng-model="booking.due_at" class="form-control" placeholder="yyyy-mm-dd">
			</div>
		</div>
	</div>
</div>

<div class="page-content">

	<div class="alert alert-danger" ng-show="errors.length">
		<p ng-repeat="error in errors">Error: <b>{{ error.message }}</b></p>
	</div>


	<div>
		<ul class="no-bullets">
			<li layout="row" class="spaced-row pad-down" ng-repeat="product in products track by $index">
				<dropdown ng-model="products[$index]" data="allProducts" display="{text: 'name'}" clone change="setupAllUnits"></dropdown>

				<div class="issue-subvalue">
					<dropdown ng-model="product._unit" data="product._units" display="{text: 'unit_number', primary: 'unit_number'}" order-by="unit_number" ng-show="!product.limitless" placeholder="" short></dropdown>

					<input type="checkbox" ng-model="product._taken" ng-show="product.limitless">
				</div>

				<btn type="danger" icon="times" ng-click="removeProduct(product, $index)" class="nudge-down"></btn>
			</li>
		</ul>

		<btn type="info" icon="plus" ng-click="addProduct()">Add Item</btn>
	</div>
	
</div>
