<page-header text="New Unit">
	<btn type="primary" icon="floppy-o" ng-click="save()">Save</btn>
</page-header>

<div class="page-content">

	<form ng-submit="save()">
		<div class="fake-table info-table">
			<div class="tr">
				<div class="td row-property center">Unit No</div>
				<div class="td row-value">
					<input type="text" id="unit_number" ng-model="unit_number" class="form-control">
				</div>
			</div>

			<div class="tr">
				<div class="td row-property center">Serial No</div>
				<div class="td row-value">
					<input type="text" id="serial_number" ng-model="serial_number" class="form-control">
				</div>
			</div>

			<div class="tr">
				<div class="td row-property center">Asset No</div>
				<div class="td row-value">
					<input type="text" id="asset_number" ng-model="asset_number" class="form-control">
				</div>
			</div>

			<div class="tr">
				<div class="td row-property center">Product</div>
				<div class="td row-value">
					<dropdown ng-model="product" data="products" display="{text: 'name', subtext: product_type}" nullable></dropdown>
				</div>
			</div>

			<div class="tr">
				<div class="td row-property">Notes</div>
				<div class="td row-value">
					<textarea id="notes" ng-model="notes" class="form-control"></textarea>
				</div>
			</div>
		</div>
	</form>

</div>