<page-header text="{{ group.code }}">
	<div class="btn-group">
		<a href="/class/{{ group.id }}/edit" class="btn btn-primary btn-sm btn-icon"><i class="fa fa-pencil fa-fw"></i>Edit</a>
		<button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<span class="dropdown-item btn-icon" ng-click="retire()" ng-show="group.active"><i class="fa fa-user-times fa-fw"></i>Retire Group</span>
			<span class="dropdown-item btn-icon" ng-click="reactivate()" ng-show="!group.active"><i class="fa fa-user-plus fa-fw"></i>Reactivate Group</span>
			<span class="dropdown-item btn-icon" ng-click="delete()"><i class="fa fa-trash fa-fw"></i>Delete</span>
		</div>
	</div>
</page-header>

<div class="page-content" ng-show="!loading">

	<table class="table info-table">
		<tr>
			<td class="row-property">Code</td>
			<td class="row-value">{{ group.code }}</td>
		</tr>
		<tr>
			<td class="row-property">Type</td>
			<td class="row-value"><a href="/class-type/{{ group.type.id }}">{{ group.type.name }}</a></td>
		</tr>
		<tr>
			<td class="row-property">Status</td>
			<td class="row-value">{{ group.active ? 'Active' : 'Inactive' }}</td>
		</tr>
		<tr>
			<td class="row-property">Tutor<span ng-show="group.tutors.length > 1">s</span></td>
			<td class="row-value">
				<ul ng-show="group.tutors.length > 1">
					<li ng-repeat="user in group.tutors">
						<a href="/user/{{ user.id }}">{{ user.name }}</a>
					</li>
				</ul>
				<a href="/user/{{ group.tutors[0].id }}" ng-show="group.tutors.length == 1">
					{{ group.tutors[0].name }}
				</a>
			</td>
		</tr>
		<tr>
			<td class="row-property">
				Students ({{ group.users.length }})<br>
				<a href="/user/new?class={{ group.code }}" class="btn push-down btn-primary btn-sm"><i class="fa fa-plus"></i></a>
			</td>
			<td class="row-value">
				<ul>
					<li ng-repeat="user in group.users">
						<a href="/user/{{ user.id }}">{{ user.name }}</a>
					</li>
				</ul>
			
				<alert type="info" text="No students in this class" icon="exclamation-circle" ng-if="!group.users.length">
					<btn url="/user/new?class={{ group.code }}" small icon="plus">Create one</btn>
				</alert>
			</td>
		</tr>
	</table>

</div>

<div ng-show="loading">
	<div class="loading" ng-show="loading" layout="col" justify="center" align="center">
		<img src="/images/LoadingWheel.svg" alt="" class="loader-img loader-spin">
	</div>
</div>