<page-header text="Confirm booking"></page-header>

<div class="page-content" ng-show="user.can_book">

	<p>Does this look right?</p>
	<p>If not, you can <a href="/book">go back</a> and modify it first.</p>
	
	<table class="table data-table">
		<tr>
			<td class="row-property">User</td>
			<td class="row-value">{{ booking._user.name }}</td>
		</tr>
		<tr>
			<td class="row-property">Pick Up</td>
			<td class="row-value">
				<span ng-show="booking.pickup_at">
					{{ booking.pickup_at | date }}
				</span>
				<alert type="danger" text="You don't have a pickup date" icon="exclamation-circle" ng-show="!booking.pickup_at"></alert>
			</td>
		</tr>
		<tr>
			<td class="row-property">Due</td>
			<td class="row-value">
				<span ng-show="booking.due_at">
					{{ booking.due_at | date }}
				</span>
				<alert type="danger" text="You don't have a return date" icon="exclamation-circle" ng-show="!booking.due_at"></alert>
			</td>
		</tr>
		<tr>
			<td class="row-property">Items</td>
			<td class="row-value">
				<ul ng-show="booking.products.length">
					<li ng-repeat="item in booking.products" ng-class="{'not-allowed': !allowed(item.id)}">
						<i class="fa fa-exclamation-triangle" ng-show="!allowed(item.id)"></i>&nbsp;
						{{ product(item.id).name }}
						<b ng-hide="product(item.id).limitless"> x{{ item.quantity }}</b>
					</li>
				</ul>
				<alert type="danger" text="You aren't booking any products" icon="exclamation-circle" ng-show="!booking.products.length"></alert>
			</td>
		</tr>
	</table>
	
	<btn type="success" large icon="check" ng-click="confirm()" disable="disableSubmit()">Yes</btn>

	<br>
	<br>

	<alert type="danger" icon="exclamation-triangle" ng-show="!overallAllowed" text="Some of your chosen items are unavailable during your chosen time period"></alert>
	
</div>


<div class="page-content" ng-show="!user.can_book">
	<alert type="danger" icon="exclamation-triangle" text="You are not allowed to make bookings"></alert>

	<p>Reason: <strong>{{ user.can_book_reason }}</strong></p>
	<p>Please talk to your tutor to resolve this issue.</p>
</div>