<page-header text="All Products">
	<btn icon="plus" url="manage/product/new">New</btn>
</page-header>

<filter model="filter" filtered="filtered"></filter>

<div class="page-content">

	<a ng-repeat="product in products | filter: filter | page : page : 10 : 30 as filtered" href="manage/product/{{ product.id }}" class="list-item">
		<div class="col" ratio="1">
			<div class="title">Name</div>
			<div class="content">{{ product.name }}</div>
		</div>
		<div class="col" ratio="1">
			<div class="title">Type</div>
			<div class="content">{{ product.type.name }}</div>
		</div>
	</a>

	<!-- <table class="table table-hover table-filtered" ng-hide="!filtered.length">
		<thead>
			<tr>
				<th class="table-col-code">Name</th>
				<th class="table-col-name" width="30%">Type</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products | filter: filter | page : page : 10 : 30 as filtered">
				<td><a href="manage/product/{{ product.id }}">{{ product.name }}</a></td>
				<td><a href="manage/product_type/{{ product.type.id }}">{{ product.type.name }}</a></td>
			</tr>
		</tbody>
	</table> -->

	<pager current="page" limit="10" data="products" filtered="filtered" filter="filter" ng-show="!filter && products.length >= 30"></pager>
	
</div>