<sidebar></sidebar>

<div class="frame manage" ratio="1" ng-show="!error">
	
	<header class="page-header" layout="row" justify="between" align="center">
		<h1>Product: {{ product.name }}</h1>
		
		<div class="button-row">
			<a href="#/manage/product/{{ product.id }}/edit" class="btn btn-primary btn-sm">Edit</a>
			<button class="btn btn-danger btn-sm" ng-click="delete()"><i class="fa fa-trash"></i></button>
		</div>
	</header>
	
	<breadcrumbs></breadcrumbs>
	
	<div class="page-content">
		
		<table class="table data-table">
			<tr>
				<td class="row-property">Name</td>
				<td class="row-value">{{ product.name }}</td>
			</tr>
			<tr>
				<td class="row-property">Type</td>
				<td class="row-value"><a href="#/manage/product_type/{{ product.type.id }}">{{ product.type.name }}</a></td>
			</tr>
			<tr>
				<td class="row-property">Units</td>
				<td class="row-value">
					<ul ng-show="product.units.length">
						<li ng-repeat="unit in product.units">
							<a href="#/manage/unit/{{ unit.id }}">{{ unit.unit_number }}</a>
						</li>
					</ul>
					
					<div class="alert alert-info" ng-if="!product.units.length">
						<p><i class="fa fa-exclamation-circle"></i> No units for this product</p>
					</div>
				</td>
			</tr>
		</table>

	</div>
	
</div>