<sidebar></sidebar>

<div class="frame manage" ratio="1" ng-show="!error">
	
	<header class="page-header" layout="row" justify="between" align="center">
		<h1>Product: {{ product.name ? product.name : '[Not found]' }}</h1>
		
		<div class="button-row" ng-hide="!type">
			<a href="#/edit_product/{{ product.id }}" class="btn btn-primary btn-sm">Edit</a>
			<button class="btn btn-danger btn-sm" ng-click="delete()"><i class="fa fa-trash"></i></button>
		</div>
	</header>
	
	<breadcrumbs></breadcrumbs>
	
	<div class="page-content">
	
		<div class="alert alert-danger" ng-hide="type">
			<i class="fa fa-exclamation-circle"></i>
			It looks like this product doesn't exist.
		</div>
		
		<table class="table data-table" ng-hide="!type">
			<tr>
				<td class="row-property">Name</td>
				<td class="row-value">{{ product.name }}</td>
			</tr>
			<tr>
				<td class="row-property">Type</td>
				<td class="row-value"><a href="#/view_product_type/{{ product.type.id }}">{{ product.type.name }}</a></td>
			</tr>
			<tr>
				<td class="row-property">Units</td>
				<td class="row-value">
					<ul ng-show="product.units.length">
						<li ng-repeat="unit in product.units">
							<a href="#/view_unit/{{ unit.id }}">{{ unit.unit_number }}</a>
						</li>
					</ul>
					
					<div class="alert alert-info" ng-if="!product.units.length">
						<p><i class="fa fa-exclamation-circle"></i> No units for this product</p>
					</div>
				</td>
			</tr>
		</table>

	</div>
	
</div>