<page-header text="{{ group_type.code }}">
	<btn type="primary" icon="floppy-o" ng-click="save()">Save</btn>
</page-header>

<div class="page-content">
	<table class="table data-table">
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th>Days</th>
			<th></th>
		</tr>
		<tr ng-repeat="product in selectedProducts">
			<td class="table-col-widest">
				<dropdown ng-model="selectedProducts[$index].product" data="products" hide="filterAdded" display="{text: 'name', subtext: product_type}"></dropdown>
			</td>
			<td>
				<input type="number" class="form-control form-control-short" min="1" max="{{ max(product.product) }}" step="1" ng-model="selectedProducts[$index].quantity" ng-show="!product.product.limitless" />
				<span class="product-quantity-na" ng-show="product.product.limitless">N/A</span>
			</td>
			<td>
				<input type="number" class="form-control form-control-short" min="1" step="1" ng-model="selectedProducts[$index].days_allowed" />
			</td>
			<td>
				<btn type="danger" icon="times" ng-click="removeProduct(product, $index)" class="nudge-down"></btn>
			</td>
		</tr>
	</table>
	<div class="button-row">
		<btn type="info" icon="plus" ng-click="addProduct()">Add Item</btn>
		<btn type="info" icon="plus" ng-click="addKit()">Add Kit</btn>
	</div>
</div>