<page-header text="Booking: {{ booking.pickup_at | date }}" breadcrumbs="user.admin">
	<div class="btn-group" ng-show="booking._priority == 2 && user.admin">
		<a href="booking/{{ booking.id }}/return" class="btn btn-primary btn-sm btn-icon"><i class="fa fa-arrow-left"></i>Return</a>
		<button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
		 aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<a href="booking/{{ booking.id }}/edit" class="dropdown-item btn-icon"><i class="fa fa-pencil"></i>Edit</a>
			<span class="dropdown-item btn-icon" ng-click="delete()"><i class="fa fa-trash"></i>Delete</span>
		</div>
	</div>

	<div class="btn-group" ng-show="booking._priority == 1 && user.admin">
		<a href="booking/{{ booking.id }}/issue" class="btn btn-primary btn-sm btn-icon"><i class="fa fa-arrow-right"></i>Issue</a>
		<button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<a href="booking/{{ booking.id }}/edit" class="dropdown-item btn-icon"><i class="fa fa-pencil"></i>Edit</a>
			<span class="dropdown-item btn-icon" ng-click="delete()"><i class="fa fa-trash"></i>Delete</span>
		</div>
	</div>

	<btn icon="trash" type="danger" ng-click="delete()" ng-show="(booking._status === 'Closed' && user.admin) || (user.id == booking.user.id && booking._priority == 1 && !user.admin)">Delete</btn>
</page-header>

<div class="page-content" ratio="1">

	<div class="alert alert-danger" ng-show="errors.length">
		<p ng-repeat="error in errors">Error: <b>{{ error.message }}</b></p>
	</div>

	<div class="info-table-wrapper" ng-show="!errors.length">
		<table class="info-table">
			<tr>
				<td class="row-property">User</td>
				<td class="row-value">
					<a href="/user/{{ booking.user.id }}" ng-if="user.admin">{{ booking.user.name }}</a>
					<span ng-if="!user.admin">{{ booking.user.name }}</span>
				</td>
			</tr>
			<tr class="print-hide">
				<td class="row-property">Status</td>
				<td class="row-value">{{ booking._status }}</td>
			</tr>
			<tr>
				<td class="row-property">Created</td>
				<td class="row-value">{{ booking.created_at | date }}</td>
			</tr>
			<tr class="print-date-row" ng-if="booking.taken_at">
				<td class="row-property">Issued</td>
				<td class="row-value">{{ booking.taken_at | date }}</td>
			</tr>
			<tr ng-show="booking.issued_by">
				<td class="row-property">Issued By</td>
				<td class="row-value">
					<a href="/user/{{ booking.issued_by.id }}" ng-if="user.admin">{{ booking.issued_by.name }}</a>
					<span ng-if="!user.admin">{{ booking.issued_by.name }}</span>
				</td>
			</tr>
			<tr class="print-date-row" ng-if="booking.closed_at">
				<td class="row-property">Closed</td>
				<td class="row-value">{{ booking.closed_at | date }}</td>
			</tr>
			<tr ng-show="booking.closed_by">
				<td class="row-property">Closed By</td>
				<td class="row-value">
					<a href="/user/{{ booking.closed_by.id }}" ng-if="user.admin">{{ booking.closed_by.name }}</a>
					<span ng-if="!user.admin">{{ booking.closed_by.name }}</span>
				</td>
			</tr>
		</table>
		
		<div class="date-row" layout="row sm-col md-col">
			<div class="pickup" ratio="1" layout="row md-col sm-col">
				<div layout="row" justify="center" align="center" class="icon">
					<i class="fa fa-upload"></i>
				</div>
		
				<div layout="col">
					<div layout="row">
						<h2>Pickup</h2>
						<p>{{ booking.pickup_at | date }}</p>
					</div>
					<div layout="row">
						<h2>Issued</h2>
						<p ng-show="booking.taken_at">{{ booking.taken_at | date }}</p>
						<p ng-show="!booking.taken_at">-</p>
					</div>
				</div>
			</div>
		
			<div class="due" ratio="1" layout="row md-col sm-col">
				<div layout="row" justify="center" align="center" class="icon">
					<i class="fa fa-download"></i>
				</div>
		
				<div layout="col">
					<div layout="row">
						<h2>Due</h2>
						<p>{{ booking.due_at | date }}</p>
					</div>
					
					<div layout="row">
						<h2>Returned</h2>
						<p ng-show="booking.closed_at">{{ booking.closed_at | date }}</p>
						<p ng-show="!booking.closed_at">-</p>
					</div>
				</div>
			</div>
		
		</div>
	</div>

	<hr class="section-separator">

	<h2>Units</h2>
	<my-table data="dataTable" ng-if="booking.$resolved"></my-table>
	
</div>