<page-header text="Welcome, {{ user.name }}" breadcrumbs="false">
	<btn type="primary" url="home/edit_profile" icon="pencil">Edit Profile</btn>
</page-header>

<div class="page-content">
	<div layout="col">
		<div layout="row" align="start sm-stretch">
			<section ratio="1">
				<h2>Your Current Bookings</h2>

				<ul>
					<li ng-repeat="booking in bookings" ng-show="booking._priority < 3">
						<a href="booking/{{ booking.id }}">{{ booking.created_at | date }}</a>
					</li>
				</ul>
			</section>

			<section ratio="1">
				<h2>Your Recent Bookings</h2>

				<ul>
					<li ng-repeat="booking in bookings">
						<a href="booking/{{ booking.id }}">{{ booking.created_at | date }}</a>
					</li>
				</ul>
			</section>

			<section ratio="1">
				<h2>Your Previous Bookings</h2>

				<ul>
					<li ng-repeat="booking in bookings" ng-show="booking._priority > 2">
						<a href="booking/{{ booking.id }}">{{ booking.created_at | date }}</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
</div>
