<page-header text="Welcome, {{ user.name }}" breadcrumbs="false">
	<btn type="primary" url="home/edit_profile" icon="pencil">Edit Profile</btn>
</page-header>

<div class="page-content">

	<div ng-show="bookings.length && !loading">
		<h2>My Bookings</h2>

		<a ng-repeat="booking in bookings | orderBy: '-id' | page: page : advFilter.props.limit : 30 as filtered" href="booking/{{ booking.id }}" class="booking filterable-row list-item" layout="row sm-col" align="center sm-stretch">
			<div class="col-status status-{{ booking._status.toLowerCase() }}" ratio="1">
				<div class="title">Status</div>
				<div class="content">
					{{ booking._status }}
				</div>
			</div>

			<div class="col-status2" ratio="1" ng-show="booking._priority == 1">
				<div class="title">
					Pickup
				</div>
				<div class="content" ng-show="diff(booking.pickup_at) > 1">
					<span class="pip pip-warning">in {{ diff(booking.pickup_at) }} days</span>
				</div>
				<div class="content" ng-show="diff(booking.pickup_at) == 1">
					<span class="pip pip-warning">Tomorrow</span>
				</div>
				<div class="content" ng-show="diff(booking.pickup_at) == 0">
					<span class="pip pip-success">Today</span>
				</div>
				<div class="content" ng-show="diff(booking.pickup_at) == -1">
					<span class="pip pip-danger">Yesterday</span>
				</div>
				<div class="content" ng-show="diff(booking.pickup_at) < -1">
					<span class="pip pip-danger">{{ diff(booking.pickup_at) * -1 }} days ago</span>
				</div>
			</div>

			<div class="col-status2" ratio="1" ng-show="booking._priority == 2">
				<div class="title" ng-show="diff(booking.due_at) > -1">
					Due
				</div>
				<div class="title" ng-show="diff(booking.due_at) < 0">
					Overdue
				</div>
				<div class="content" ng-show="diff(booking.due_at) > 1">
					<span class="pip pip-warning">in {{ diff(booking.due_at) }} days</span>
				</div>
				<div class="content" ng-show="diff(booking.due_at) == 1">
					<span class="pip pip-warning">Tomorrow</span>
				</div>
				<div class="content" ng-show="diff(booking.due_at) == 0">
					<span class="pip pip-success">Today</span>
				</div>
				<div class="content" ng-show="diff(booking.due_at) == -1">
					<span class="pip pip-danger">Yesterday</span>
				</div>
				<div class="content" ng-show="diff(booking.due_at) < -1">
					<span class="pip pip-danger">by {{ diff(booking.due_at) * -1 }} days</span>
				</div>
			</div>

			<div class="col-status2" ratio="1" ng-show="booking._priority == 3">
				<div class="title">
					Closed
				</div>
				<div class="content" ng-show="diff(booking.closed_at) == 0">
					Today
				</div>
				<div class="content" ng-show="diff(booking.closed_at) == -1">
					Yesterday
				</div>
				<div class="content" ng-show="diff(booking.closed_at) < -1">
					{{ diff(booking.closed_at) * -1 }} days ago
				</div>
			</div>
		</a>
	</div>

	<div ng-show="!bookings.length && !loading">
		<alert type="secondary" icon="exclamation-triangle" text="No bookings match your filter critera"></alert>
	</div>
		
	<pager current="page" limit="advFilter.props.limit" data="bookings" filtered="filtered" filter="filter" ng-show="!filter && bookings.length >= 30 && !loading"></pager>

	<div class="loading" ng-show="loading" layout="col" justify="center" align="center">
		<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
	</div>
	
</div>