<div class="sidebar-holder" ng-include="'views/sidebar.html'" layout="col"></div>

<div class="frame manage" ratio="1" ng-show="!error">
	
	<header class="page-header">
		<h1>Edit User: {{ user.username }}</h1>
	</header>
	
	<breadcrumbs></breadcrumbs>
	
	<div class="page-content">
	
		<form ng-submit="save()">
			<div layout="row">
				<div class="form-group" ratio="1">
					<label for="last_name">First Name</label>
					<input type="text" id="first_name" ng-model="user.first_name" class="form-control">
				</div>
				<div class="form-group" ratio="1">
					<label for="last_name">Last Name</label>
					<input type="text" id="last_name" ng-model="user.last_name" class="form-control">
				</div>
			</div>
			<div layout="row">
				<div class="form-group" ratio="1">
					<label for="email">Email Address</label>
					<input type="email" id="email" ng-model="user.email" class="form-control">
				</div>
				<div class="form-group" ratio="1">
					<label for="phone">Phone Number</label>
					<input type="text" id="phone" ng-model="user.phone" class="form-control">
				</div>
			</div>
			<div layout="row">
				<div class="form-group" ratio="1">
					<label for="dob">DOB</label>
					<input type="date" id="dob" ng-model="user.dob" class="form-control">
				</div>
				<div class="form-group" ratio="1">
					<label for="id_number">Student ID Number</label>
					<input type="text" id="id_number" ng-model="user.id_number" class="form-control">
				</div>
			</div>
			<div layout="row">
				<div class="form-group" ratio="1">
					<label for="group">Your Class</label>
					<select id="group" ng-model="user.group" ng-options="item as item.code for item in groups track by item.id" class="form-control"></select>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Update">
			</div>
		</form>

	</div>
	
</div>