<div class="sidebar-holder" ng-include="'views/sidebar.html'" layout="col"></div>

<div class="frame profile" ratio="1">
	
	<div class="alert alert-danger" ng-if="error">
		{{ error }}
	</div>

	<header class="page-header" layout="row" justify="between" align="center">
		<h1>{{ user.first_name }} {{ user.last_name }}</h1>

		<div>
			<span class="label label-danger role" ng-show="role() == 'Staff'">{{ role() }}</span>
			<span class="label label-primary role" ng-show="role() == 'Student'">{{ role() }}</span>
			<span class="label label-info username">{{ user.username }}</span>
		</div>
	</header>
	
	
</div>