<div class="sidebar" ng-controller="sidebarCtrl" layout="col" ratio="1">
	<header layout="col">
		<img src="/images/logo.svg" alt="" width="200">
	
		<h1>Booking System</h1>
	</header>
	
	<nav>
		<ul layout="col" ng-if="!auth.isAuthenticated()">
			<li ng-class="{current: isCurrent('/login')}"><a href="#/login">Login <i class="fa fa-sign-in"></i></a></li>
			<li ng-class="{current: isCurrent('/register')}"><a href="#/register">Register <i class="fa fa-user-plus"></i></a></li>
		</ul>
		
		<!-- staff -->
		<ul layout="col" ng-if="auth.isAuthenticated() && user.admin">
			<li><a href="#/profile/{{ user.username }}">Your Profile <i class="fa fa-user"></i></a></li>
			<li><a href="#/book">Make booking <i class="fa fa-book"></i></a></li>
			<li><a href="#/manage">Manage site <i class="fa fa-pencil"></i></a></li>
			<li><a href="#/logout">Logout <i class="fa fa-sign-out"></i></a></li>
		</ul>
		
		<!-- student -->
		<ul layout="col" ng-if="auth.isAuthenticated() && !user.admin">
			<li><a href="#/profile/{{ user.username }}">Your Profile <i class="fa fa-user"></i></a></li>
			<li><a href="#/logout">Logout <i class="fa fa-sign-out"></i></a></li>
		</ul>
	</nav>
</div>