<sidebar></sidebar>

<div class="frame profile" ratio="1" ng-show="!error">
	
	<header class="page-header">
		<h1>Book equipment</h1>
	</header>
	
	<div class="page-content">

		<p>Have a couple of date inputs, so gotta figure that out, and may as well finish the user stuff when I do that.</p>
		
		<p>Then have a row with a combobox that has a list of allowed products for this users group.</p>
		
		<p>Next to the combobox you have a quantity input.</p>
		
		<p>Somewhere there's a button to add another row of combobox and quantity rows.</p>

	</div>
	
</div>