<sidebar></sidebar>

<div class="frame profile" ratio="1" ng-show="!error">
	
	<header class="page-header">
		<h1>Book equipment</h1>
	</header>
	
	<div class="page-content">

		<input type="search" ng-model="filter" class="form-control" placeholder="filter...">
		
		<table class="table table-hover booking-table">
			<thead>
				<tr>
					<th class="booking-heading-product">Product</th>
					<th class="booking-heading-type">Type</th>
					<th class="booking-heading-quantity">Available</th>
					<th class="booking-heading-quantity">Quantity</th>
				</tr>
			</thead>
			<tr ng-repeat="product in products | filter: filter">
				<td>{{ product.name }}</td>
				<td>{{ product.type.name }}</td>
				<td>{{ max(product) }}</td>
				
				<td>
					<input type="number" ng-model="product._quantity" class="form-control booking-quantity-input" max="{{ max(product) }}" ng-keyup="checkAgainstMax(product)" min="0">
				</td>
			</tr>
		</table>
		
	</div>
</div>