<page-header text="{{ unit.product.name }}: {{ unit.unit_number }}">
	<div class="btn-group">
		<a href="manage/unit/{{ unit.id }}/edit" class="btn btn-primary btn-sm btn-icon"><i class="fa fa-pencil"></i>Edit</a>
		<button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<span class="dropdown-item btn-icon" ng-click="delete()"><i class="fa fa-trash"></i>Delete</span>
		</div>
	</div>
</page-header>

<div class="page-content">

	<table class="table info-table">
		<tr>
			<td class="row-property">Unit No</td>
			<td class="row-value">{{ unit.unit_number ? unit.unit_number : '-' }}</td>
		</tr>
		<tr>
			<td class="row-property">Serial No</td>
			<td class="row-value">{{ unit.serial_number ? unit.serial_number : '-' }}</td>
		</tr>
		<tr>
			<td class="row-property">Asset No</td>
			<td class="row-value">{{ unit.asset_number ? unit.asset_number : '-' }}</td>
		</tr>
		<tr>
			<td class="row-property">Product</td>
			<td class="row-value"><a href="manage/product/{{ unit.product.id }}">{{ unit.product.name }}</a></td>
		</tr>
		<tr>
			<td class="row-property">Notes</td>
			<td class="row-value">{{ unit.notes ? unit.notes : '-' }}</td>
		</tr>
	</table>

	<section>
		<h2>History</h2>

		<table class="table info-table">
			<tr>
				<th>User</th>
				<th>Issued</th>
				<th>Returned</th>
				<th>Notes</th>
			</tr>
			<tr ng-repeat="booking in unit._bookings | orderBy: '-taken_at'">
				<td>
					<a href="manage/user/{{ booking.user.id }}">{{ booking.user.name }}</a>
				</td>
				<td>
					<a href="booking/{{ booking.id }}">{{ booking.taken_at | date }}</a>
				</td>
				<td>{{ booking.pivot.returned_at | date }}</td>
				<td>{{ booking.pivot.notes }}</td>
			</tr>
		</table>
	</section>

</div>