<page-header text="{{ unit.product.name }}: {{ unit.unit_number }}">
	<div class="btn-group">
		<a href="/unit/{{ unit.id }}/edit" class="btn btn-primary btn-sm btn-icon"><i class="fa fa-pencil"></i>Edit</a>
		<button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<span class="dropdown-item btn-icon" ng-click="delete()"><i class="fa fa-trash"></i>Delete</span>
		</div>
	</div>
</page-header>

<div class="page-content">

	<div class="info-table-wrapper">
		<table class="table info-table">
			<tr>
				<td class="row-property">Unit No</td>
				<td class="row-value">{{ unit.unit_number ? unit.unit_number : '-' }}</td>
			</tr>
			<tr>
				<td class="row-property">Serial No</td>
				<td class="row-value">{{ unit.serial_number ? unit.serial_number : '-' }}</td>
			</tr>
			<tr>
				<td class="row-property">Asset No</td>
				<td class="row-value">{{ unit.asset_number ? unit.asset_number : '-' }}</td>
			</tr>
			<tr>
				<td class="row-property">Product</td>
				<td class="row-value"><a href="/product/{{ unit.product.id }}">{{ unit.product.name }}</a></td>
			</tr>
			<tr>
				<td class="row-property">Notes</td>
				<td class="row-value">{{ unit.notes ? unit.notes : '-' }}</td>
			</tr>
		</table>
	</div>

	<hr class="section-separator">

	<h2>Booking history</h2>
	<my-table data="dataTable" ng-if="unit.bookings"></my-table>

</div>