<header class="page-header" layout="row" justify="between" align="center">
	<h1>New Class Type</h1>
	<btn type="primary" small icon="floppy-o" ng-click="save()">Save</btn>
</header>

<breadcrumbs></breadcrumbs>

<div class="page-content">

	<form ng-submit="save()">
		<div class="form-group">
			<label for="code">Code</label>
			<input type="text" id="code" ng-model="code" class="form-control">
		</div>
		
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" id="name" ng-model="name" class="form-control">
		</div>
	</form>

</div>