<sidebar></sidebar>

<div class="frame manage" ratio="1" ng-show="!error">
	
	<header class="page-header" layout="row" align="center" justify="between">
		<h1>Class Type: {{ type.code }}</h1>
		
		<div class="button-row">
			<a href="#/manage/class_type/{{ type.id }}/edit" class="btn btn-primary btn-sm">Edit</a>
			<button class="btn btn-danger btn-sm" ng-click="delete()"><i class="fa fa-trash"></i></button>
		</div>
	</header>
	
	<breadcrumbs></breadcrumbs>
	
	<div class="page-content">
	
		<table class="table data-table">
			<tr>
				<td class="row-property">Code</td>
				<td class="row-value">{{ type.code }}</td>
			</tr>
			<tr>
				<td class="row-property">Name</td>
				<td class="row-value">{{ type.name }}</td>
			</tr>
			<tr>
				<td class="row-property">Classes ({{ type.groups.length }})</td>
				<td class="row-value">
					<div layout="row" justify="between" align="start">
						<ul ng-show="type.groups.length">
							<li ng-repeat="group in type.groups">
								<a href="#/manage/class/{{ group.id }}">{{ group.code }}</a>
							</li>
						</ul>
						<a href="#/manage/class/new" ng-click="preNewClass()" class="btn btn-primary btn-sm" ng-if="type.groups.length"><i class="fa fa-plus"></i></a>
					</div>
					
					<div class="alert alert-info" ng-if="!type.groups.length">
						<p layout="row" align="center" justify="between">
							<span>
								<i class="fa fa-exclamation-circle"></i>
								No classes with this type.
							</span>
							<a href="#/manage/class/new" ng-click="preNewClass()" class="btn btn-primary btn-sm btn-icon"><i class="fa fa-plus"></i> Create one</a>
						</p>
					</div>
				</td>
			</tr>
		</table>

	</div>
	
</div>