<sidebar></sidebar>

<div class="frame manage" ratio="1" ng-show="!error">
	
	<header class="page-header">
		<h1>Manage Data</h1>
	</header>
	
	<breadcrumbs></breadcrumbs>
	
	<div class="page-content">
	
		<p>Here you can manage all different aspects of the booking system.</p>
		
		<ul>
			<li><a href="#/manage/users">Manage Users</a></li>
			<li><a href="#/manage/class_types">Manage Class Types</a></li>
			<li><a href="#/manage/classes">Manage Classes</a></li>
			<li><a href="#/manage/product_types">Manage Product Types</a></li>
			<li><a href="#/manage/products">Manage Products</a></li>
			<li><a href="#/manage/units">Manage Units</a></li>
		</ul>

	</div>
	
</div>