<page-header text="{{ !profileMode ? user.name : 'Edit Profile' }}" breadcrumbs="!profileMode">
	<btn type="primary" icon="floppy-o" ng-click="save()">Save</btn>
</page-header>

<div class="page-content">

	<alert type="danger" icon="exclamation-triangle" text="{{ error }}" ng-show="error"></alert>

	<form ng-submit="save()">
		<div layout="row sm-col" class="spaced-row">
			<div class="form-group" ratio="1">
				<label for="name">Name</label>
				<input type="text" id="name" ng-model="user.name" class="form-control">
			</div>
			<div class="form-group" ratio="1">
				<label for="email">Email Address</label>
				<input type="email" id="email" ng-model="user.email" class="form-control">
			</div>
		</div>
		<div layout="row sm-col" class="spaced-row">
			<div class="form-group" ratio="1">
				<label for="phone">Phone Number</label>
				<input type="text" id="phone" ng-model="user.phone" class="form-control">
			</div>
			<div class="form-group" ratio="1">
				<label for="dob">DOB</label>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">
						<i class="fa fa-calendar"></i>
					</span>
					<input type="date" ng-model="user.dob" class="form-control">
				</div>
			</div>
		</div>
		<div layout="row sm-col" class="spaced-row" ng-show="profileMode">
			<div class="form-group" ratio="1">
				<label for="password">Password</label>
				<input type="password" id="password" ng-model="password" class="form-control">
			</div>
			<div class="form-group" ratio="1">
				<label for="confirm_password">Confirm Password</label>
				<input type="password" id="confirm_password" ng-model="confirm_password" class="form-control">
			</div>
		</div>
		<div layout="row sm-col" class="spaced-row" ng-hide="profileMode || you.id == user.id">
			<div class="form-group" ratio="1">
				<label for="group">Role</label>
				<ui-select ng-model="selected.role" id="role">
					<ui-select-match allow-clear="false" placeholder="​">
						<span ng-bind="$select.selected.text" class="setheight"></span>
					</ui-select-match>
					<ui-select-choices repeat="role in (roles | filter: $select.search) track by role.level">
						<div ng-bind-html="role.text | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div layout="row sm-col" class="spaced-row" ng-show="selected.role.level === 0 && !profileMode">
			<div class="form-group" ratio="1">
				<label for="id_number">Student ID Number</label>
				<input type="text" id="id_number" ng-model="user.id_number" class="form-control">
			</div>
			<div class="form-group" ratio="1">
				<label for="group">Class</label>
				<ui-select ng-model="selected.group" id="group">
					<ui-select-match allow-clear="false" placeholder="​">
						<span ng-bind="$select.selected.code" class="setheight"></span>
					</ui-select-match>
					<ui-select-choices repeat="group in (groups | filter: $select.search) track by group.id">
						<div ng-bind-html="group.code | highlight: $select.search"></div>
						<small ng-bind-html="group.type.name | highlight: $select.search"></small>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>

		<div layout="row sm-row" class="spaced-row" ng-show="selected.role.level === 0 && !profileMode">
			<div class="form-group">
				<label for="can_book">Can Book</label>
				<div class="push-left">
					<label>
						<input type="checkbox" ng-model="user.can_book" ng-change="syncUser()" ng-true-value="1" class="push-right">
						 {{ user.can_book ? 'Yes' : 'No' }}
					</label>
				</div>
			</div>
			<div class="form-group" ng-show="!user.can_book" ratio="1">
				<label for="can_book_reason">Reason</label>
				<input type="text" ng-model="user.can_book_reason" class="form-control" id="can_book_reason">
			</div>
		</div>
	</form>

</div>