<page-header text="All Users">
	<div class="btn-group">
		<a href="manage/user/new" class="btn btn-primary btn-icon btn-sm"><i class="fa fa-plus"></i>New</a>
		<button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="dropdown-item btn-icon" href="manage/user/import"><i class="fa fa-cloud-upload"></i>Import users from CSV</a>
		</div>
	</div>
</page-header>

<filter model="filter" filtered="filtered"></filter>

<div class="page-content">

	<!-- <table class="table table-hover table-filtered" ng-hide="!filtered.length">
		<thead>
			<tr>
				<th class="table-col-firstname">Name</th>
				<th class="table-col-lastname sm-hide" width="15%">Role</th>
				<th class="table-col-lastname sm-hide" width="15%">Class</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users | filter: filter | orderBy: 'group.id' | orderBy: '-admin' | page: page : 10 : 30 as filtered">
				<td><a href="manage/user/{{ user.id }}">{{ user.name }}</a></td>
				<td class="sm-hide">{{ user._role }}</td>
				<td class="sm-hide"><a href="manage/class/{{ user.group.id }}" ng-show="!user.admin">{{ user.group.code }}</a></td>
			</tr>
		</tbody>
	</table> -->

	<div ng-hide="!filtered.length">
		<a class="list-item" ng-repeat="user in users | filter: filter | orderBy: 'group.id' | orderBy: '-admin' | page: page : 10 : 30 as filtered" href="manage/user/{{ user.id }}">
			<div class="col" ratio="1">
				<div class="title">Name</div>
				<div class="content">
					{{ user.name }}
				</div>
			</div>

			<div class="col" ratio="1">
				<div class="title">Role</div>
				<div class="content">
					{{ user._role }}
				</div>
			</div>
			<div class="col" ratio="1">
				<div class="title" ng-show="user.group">Class</div>
				<div class="content">
					{{ user.group.code }}
				</div>
			</div>
		</a>
	</div>

	<pager current="page" limit="10" data="users" filtered="filtered" filter="filter" ng-show="!filter && users.length >= 30"></pager>

</div>