<header class="page-header" layout="row" justify="between" align="center">
	<h1>All Users</h1>
	<div class="button-row">
		<btn icon="plus" small url="#/manage/user/new">New</btn>
	</div>
</header>

<breadcrumbs></breadcrumbs>

<filter model="filter" filtered="filtered"></filter>

<div class="page-content">

	<pager current="page" limit="10" data="users" filtered="filtered" filter="filter" ng-show="!filter && users.length >= 30"></pager>

	<table class="table table-hover table-filtered" ng-hide="!filtered.length">
		<thead>
			<tr>
				<th class="table-col-firstname">Name</th>
				<th class="table-col-lastname sm-hide" width="15%">Role</th>
				<th class="table-col-lastname sm-hide" width="15%">Class</th>
				<th class="table-col-controls sm-hide" width="10%"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users | filter: staffFilter | filter: filter | orderBy: 'group.id' | orderBy: '-admin' | page: page : 10 : 30 as filtered">
				<td><a href="#/manage/user/{{ user.id }}">{{ user.name }}</a></td>
				<td class="sm-hide">{{ user._role }}</td>
				<td class="sm-hide"><a href="#/manage/class/{{ user.group.id }}" ng-show="!user.admin">{{ user.group.code }}</a></td>
				<td class="sm-hide">
					<btn url="#/manage/user/{{ user.id }}" type="info" icon="arrow-right" small>View</btn>
				</td>
			</tr>
		</tbody>
	</table>

</div>