<page-header text="New User">
	<btn type="primary" icon="floppy-o" ng-click="save()">Save</btn>
</page-header>

<div class="page-content">

	<div class="alert alert-danger" ng-show="errors.length">
		<p ng-repeat="error in errors">Error: <b>{{ error.message }}</b></p>
	</div>

	<form ng-submit="save()">
		<div class="fake-table data-table">
			<div class="tr">
				<div class="td row-property center">Name</div>
				<div class="td row-value">
					<input type="text" id="name" ng-model="name" class="form-control">
				</div>
			</div>

			<div class="tr">
				<div class="td row-property center">Email Address</div>
				<div class="td row-value">
					<input type="email" id="email" ng-model="email" class="form-control">
				</div>
			</div>

			<div class="tr">
				<div class="td row-property center">Phone Number</div>
				<div class="td row-value">
					<input type="text" id="phone" ng-model="phone" class="form-control">
				</div>
			</div>

			<div class="tr">
				<div class="td row-property center">DOB</div>
				<div class="td row-value">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
							<i class="fa fa-calendar"></i>
						</span>
						<input type="date" ng-model="dob" class="form-control" placeholder="yyyy-mm-dd">
					</div>
				</div>
			</div>

			<div class="tr">
				<div class="td row-property center">Password</div>
				<div class="td row-value">
					<input type="password" id="password" ng-model="password" class="form-control">
				</div>
			</div>

			<div class="tr">
				<div class="td row-property center">Password repeat</div>
				<div class="td row-value">
					<input type="password" id="confirm_password" ng-model="confirm_password" class="form-control">
				</div>
			</div>

			<div class="tr">
				<div class="td row-property center">Role</div>
				<div class="td row-value">
					<dropdown ng-model="role" data="roles" display="{text: 'text'}"></dropdown>
				</div>
			</div>

			<div class="tr" ng-show="role.level === 0">
				<div class="td row-property center">Student ID</div>
				<div class="td row-value">
					<input type="text" id="id_number" ng-model="id_number" class="form-control">
				</div>
			</div>

			<div class="tr" ng-show="role.level === 0">
				<div class="td row-property center">Class</div>
				<div class="td row-value">
					<dropdown ng-model="group" data="groups" display="{text: 'code'}"></dropdown>
				</div>
			</div>
		</div>
	</form>

</div>