<header class="page-header" layout="row" align="center" justify="between">
	<h1>{{ user.name }}</h1>
	
	<div class="button-row">
		<btn url="#/manage/user/{{ user.id }}/reset_pw" icon="unlock-alt" small>Reset Password</btn>
		<btn url="#/manage/user/{{ user.id }}/edit" icon="pencil" small>Edit</btn>
		<btn ng-click="delete()" icon="trash" type="danger" small></btn>
	</div>
</header>

<breadcrumbs></breadcrumbs>

<div class="page-content">
	
	<table class="table data-table">
		<tr>
			<td class="row-property">Name</td>
			<td class="row-value">{{ user.name }}</td>
		</tr>
		<tr>
			<td class="row-property">Phone</td>
			<td class="row-value">{{ user.phone ? user.phone : '-' }}</td>
		</tr>
		<tr>
			<td class="row-property">Email</td>
			<td class="row-value">
				<a href="mailto:{{ user.email }}" ng-show="user.email">{{ user.email }}</a>
				<span ng-if="!user.email">-</span>
			</td>
		</tr>
		<tr>
			<td class="row-property">DOB</td>
			<td class="row-value">{{ user.dob | date }} ({{ user._age }} years old)</td>
		</tr>
		<tr>
			<td class="row-property">Role</td>
			<td class="row-value">{{ user._role }}</td>
		</tr>
		<tr ng-show="!user.admin">
			<td class="row-property">Student ID</td>
			<td class="row-value">{{ user.id_number }}</td>
		</tr>
		<tr ng-show="!user.admin" ng-class="{'bg-danger': !user.can_book}">
			<td class="row-property">Can book</td>
			<td class="row-value">
				<input type="checkbox" ng-model="user.can_book" ng-change="syncUser()" ng-true-value="1" class="push-right">
				 {{ user.can_book ? 'Yes' : 'No' }}

				<div class="bump-down" ng-show="!user.can_book">
					<label for="can_book_reason">Reason</label>
					<input type="text" ng-model="user.can_book_reason" class="form-control" id="can_book_reason" ng-blur="syncUser()">
				</div>
			</td>
		</tr>
		<tr>
			<td class="row-property">Bookings</td>
			<td class="row-value">
				<a href="#/bookings?user={{ user.id }}">View all bookings by this user</a>
			</td>
		</tr>
		<tr ng-show="!user.admin">
			<td class="row-property">Class</td>
			<td class="row-value"><a href="#/manage/class/{{ user.group.id }}">{{ user.group.code }}</a></td>
		</tr>
		<tr ng-show="user.admin && user.tutors_groups.length">
			<td class="row-property">Tutor of</td>
			<td class="row-value">
				<ul>
					<li ng-repeat="group in user.tutors_groups">
						<a href="#/manage/class/{{ group.id }}">{{ group.code }}</a>
					</li>
				</ul>
			</td>
		</tr>
		<tr ng-show="!user.admin">
			<td class="row-property">
				Notes<br>
				<btn icon="plus" small url="#/manage/user/{{ user.id }}/note/new" type="secondary"></btn>
			</td>
			<td class="row-value">
				<div class="user-note row-hoverable" ng-repeat="note in user.notes" layout="row" ng-hide="note.is_old">
					<div class="user-note-content" ratio="1">
						{{ note.content }}
					</div>
					<div class="user-note-controls">
						<btn icon="eye" type="primary" small url="#/manage/user/{{ user.id }}/note/{{ note.id }}">View</btn> 
						<btn icon="pencil" type="info" small url="#/manage/user/{{ user.id }}/note/{{ note.id }}/edit">Edit</btn> 
						<btn icon="trash" type="danger" small ng-click="deleteNote(note)"></btn>
					</div>
				</div>
			</td>
		</tr>
	</table>

</div>