<sidebar></sidebar>

<div class="frame manage" ratio="1" ng-show="!error">
	
	<header class="page-header" layout="row" align="center" justify="between">
		<h1>User: {{ user.username }}</h1>
		
		<div class="button-row">
			<a href="#/" class="btn btn-primary btn-sm">Reset password</a>
			<a href="#/manage/user/{{ user.id }}/edit" class="btn btn-primary btn-sm">Edit</a>
			<button class="btn btn-danger btn-sm" ng-click="delete()"><i class="fa fa-trash"></i></button>
		</div>
	</header>
	
	<breadcrumbs></breadcrumbs>
	
	<div class="page-content">
		
		<table class="table data-table">
			<tr>
				<td class="row-property">First Name</td>
				<td class="row-value">{{ user.first_name }}</td>
			</tr>
			<tr>
				<td class="row-property">Last Name</td>
				<td class="row-value">{{ user.last_name }}</td>
			</tr>
			<tr>
				<td class="row-property">Phone</td>
				<td class="row-value">{{ user.phone ? user.phone : '-' }}</td>
			</tr>
			<tr>
				<td class="row-property">Email</td>
				<td class="row-value">
					<a href="mailto:{{ user.email }}" ng-show="user.email">{{ user.email }}</a>
					<span ng-if="!user.email">-</span>
				</td>
			</tr>
			<tr ng-hide="user.admin">
				<td class="row-property">Student ID</td>
				<td class="row-value">{{ user.id_number }}</td>
			</tr>
			<tr ng-if="!user.admin">
				<td class="row-property">Class</td>
				<td class="row-value"><a href="#/manage/class/{{ user.group.id }}">{{ user.group.code }}</a></td>
			</tr>
			<tr>
				<td class="row-property">Role</td>
				<td class="row-value">{{ user._role }}</td>
			</tr>
		</table>

	</div>
	
</div>