<header class="page-header" layout="row" align="center" justify="between">
	<h1>View Note</h1>

	<div class="btn-group">
		<a href="manage/user/{{ user.id }}/note/{{ note.id }}/edit" class="btn btn-primary btn-icon"><i class="fa fa-pencil"></i>Edit</a>
		<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<span class="dropdown-item btn-icon" ng-click="deleteNote(note)"><i class="fa fa-trash"></i>Delete</span>
		</div>
	</div>
</header>

<breadcrumbs></breadcrumbs>

<div class="page-content">

	<h2 class="center-text">{{ note.content }}</h2>

	<section>
		<table class="table data-table">
			<tr>
				<td class="row-property">Written by</td>
				<td class="row-value"><a href="manage/user/{{ note.writer.id }}">{{ note.writer.name }}</a></td>
			</tr>
			<tr>
				<td class="row-property">Date</td>
				<td class="row-value">{{ dateify(note.created_at) | date: 'd/M/yy h:mm a' }}</td>
			</tr>
		</table>
	</section>

	<div ng-show="note.history.length">
		<h3>Note History</h3>

		<ul class="list-group">
			<li ng-repeat="version in note.history" class="list-group-item">
				<div layout="row" justify="between">
					<span>{{ version.content }}</span>
					<span><a href="manage/user/{{ version.writer.id }}">{{ version.writer.name }}</a> ({{ dateify(version.created_at) | date: 'd/M/yy h:mm a' }})</span>
				</div>
			</li>
		</ul>
	</div>

</div>