<header class="page-header" layout="row" align="center" justify="between">
	<h1>View Note</h1>
	<div class="button-row">
		<btn type="primary" icon="pencil" url="#/manage/user/{{ user.id }}/note/{{ note.id }}/edit" small>Edit</btn>
		<btn type="danger" icon="trash" ng-click="deleteNote(note)" small></btn>
	</div>
</header>

<breadcrumbs></breadcrumbs>

<div class="page-content">

	<h1>{{ note.content }}</h1>
	<p><a href="#/manage/user/{{ note.writer.id }}">{{ note.writer.name }}</a></p>

	<ul class="list-group">
		<li ng-repeat="version in note.history" class="list-group-item">
			<div layout="row" justify="between">
				<span>{{ version.content }}</span>
				<span><a href="#/manage/user/{{ version.writer.id }}">{{ version.writer.name }}</a></span>
			</div>
		</li>
	</ul>

</div>