<page-header text="All Bookings">
	<btn type="primary" ng-click="advFilter.toggleOpen()" icon="filter">{{ advFilter.open ? 'Close' : 'Open' }} Filter</btn>
</page-header>

<div class="page-content">

	<div class="page-advanced-filter" ng-class="{'filter-open': advFilter.open}" ng-show="advFilter.open">

		<div class="filter-drawer" layout="col">

			<div layout="row" justify="between" class="pad-down filter-header">
				<h2>Filter</h2>

				<div layout="row" class="button-row">
					<btn type="danger" icon="undo" ng-click="advFilter.clear()">Reset</btn>
					<btn type="success" icon="check" ng-click="advFilter.apply()" ng-show="advFilter.open">Apply Filter</btn>
				</div>
			</div>

			<div layout="row">
				<div layout="col" ratio="1" class="filter-col">
					<h3>Types</h3>
					<label class="item checkbox-item">
						<input type="checkbox" ng-model="advFilter.props.booked"> Show booked
					</label>
					<label class="item checkbox-item">
						<input type="checkbox" ng-model="advFilter.props.issued"> Show issued
					</label>
					<label class="item checkbox-item">
						<input type="checkbox" ng-model="advFilter.props.overdue"> Show overdue
					</label>
					<label class="item checkbox-item">
						<input type="checkbox" ng-model="advFilter.props.closed"> Show closed
					</label>
				</div>

				<div layout="col" justify="between" ratio="1" class="filter-col">
					<h3>Date Range</h3>
					<div class="item item-row">
						<label>From</label>
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</span>
							<input type="date" ng-model="advFilter.props.after" class="form-control">
						</div>
					</div>
					<div class="item item-row">
						<label>To</label>
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</span>
							<input type="date" ng-model="advFilter.props.before" class="form-control">
						</div>
					</div>
				</div>
				<div layout="col" justify="between" ratio="1" class="filter-col">
					<h3>Misc</h3>
					<div class="item has-select-clearer item-row" ratio="1">
						<label>User</label>
						<dropdown ng-model="advFilter.props.user" data="users" display="{text: 'name', subtext: group_code}" nullable></dropdown>
					</div>

					<div class="item item-row" ratio="1">
						<label>Limit</label>
						<div layout="row">
							<div class="range" layout="row" align="center">
								<input type="range" ng-model="advFilter.props.limit" step="15" min="10" max="100" ratio="1">
								<output>{{ advFilter.props.limit }}</output>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="bookings.length && !loading">

		<a ng-repeat="booking in bookings | orderBy: '-id' | page: page : advFilter.props.limit : 30 as filtered" href="booking/{{ booking.id }}" class="booking filterable-row list-item" layout="row sm-col" align="center sm-stretch">
			<div class="col-username filterable-cell" ratio="1">
				<div class="title">User</div>
				<div class="content">{{ booking.user.name }}</div>
			</div>
			<div class="col-groupcode filterable-cell" ratio="1">
				<div class="title" ng-show="booking.user.group">Class</div>
				<div class="content">{{ booking.user.group.code }}</div>
			</div>
			<div class="col-status status-{{ booking._status.toLowerCase() }}" ratio="1">
				<div class="title">Status</div>
				<div class="content">
					{{ booking._status }}
				</div>
			</div>


			<div class="col-status2" ratio="1" ng-show="booking._priority == 1">
				<div class="title">
					Pickup
				</div>
				<div class="content" ng-show="diff(booking.pickup_at) > 1">
					<span class="pip pip-warning">in {{ diff(booking.pickup_at) }} days</span>
				</div>
				<div class="content" ng-show="diff(booking.pickup_at) == 1">
					<span class="pip pip-warning">Tomorrow</span>
				</div>
				<div class="content" ng-show="diff(booking.pickup_at) == 0">
					<span class="pip pip-success">Today</span>
				</div>
				<div class="content" ng-show="diff(booking.pickup_at) == -1">
					<span class="pip pip-danger">Yesterday</span>
				</div>
				<div class="content" ng-show="diff(booking.pickup_at) < -1">
					<span class="pip pip-danger">{{ diff(booking.pickup_at) * -1 }} days ago</span>
				</div>
			</div>

			<div class="col-status2" ratio="1" ng-show="booking._priority == 2">
				<div class="title" ng-show="diff(booking.due_at) > -1">
					Due
				</div>
				<div class="title" ng-show="diff(booking.due_at) < 0">
					Overdue
				</div>
				<div class="content" ng-show="diff(booking.due_at) > 1">
					<span class="pip pip-warning">in {{ diff(booking.due_at) }} days</span>
				</div>
				<div class="content" ng-show="diff(booking.due_at) == 1">
					<span class="pip pip-warning">Tomorrow</span>
				</div>
				<div class="content" ng-show="diff(booking.due_at) == 0">
					<span class="pip pip-success">Today</span>
				</div>
				<div class="content" ng-show="diff(booking.due_at) == -1">
					<span class="pip pip-danger">Yesterday</span>
				</div>
				<div class="content" ng-show="diff(booking.due_at) < -1">
					<span class="pip pip-danger">by {{ diff(booking.due_at) * -1 }} days</span>
				</div>
			</div>



			<div class="col-status2" ratio="1" ng-show="booking._priority == 3">
				<div class="title">
					Closed
				</div>
				<div class="content" ng-show="diff(booking.closed_at) == 0">
					Today
				</div>
				<div class="content" ng-show="diff(booking.closed_at) == -1">
					Yesterday
				</div>
				<div class="content" ng-show="diff(booking.closed_at) < -1">
					{{ diff(booking.closed_at) * -1 }} days ago
				</div>
			</div>
		</a>
	</div>

	<div ng-show="!bookings.length && !loading">
		<alert type="secondary" icon="exclamation-triangle" text="No bookings match your filter critera"></alert>
	</div>
		
	<pager current="page" limit="advFilter.props.limit" data="bookings" filtered="filtered" filter="filter" ng-show="!filter && bookings.length >= 30 && !loading"></pager>

	<div class="loading" ng-show="loading" layout="col" justify="center" align="center">
		<img src="/images/LoadingWheel.svg" alt="" class="loader-img loader-spin">
	</div>
	
</div>