color-primary = #3F51B5
color-secondary = #eee
color-danger = #FF5722
color-warning = #FFC107
color-info = #00BCD4
color-success = #8BC34A

color-border = #ddd

color-sidebar-text = #fff
color-sidebar-background = #222
color-sidebar-highlight = color-info
color-sidebar-border = rgba(255, 255, 255, 0.1)

color-page-header-background = #eee
color-page-header-text = #000

color-page-breadcrumbs-background = whitesmoke
color-page-breadcrumbs-text = #222