// Main colors
color-primary = #3F51B5
color-secondary = #eee
color-danger = #D00
color-warning = #FF9800
color-info = #00BCD4
color-success = #8BC34A

// Misc colors
color-border = #ddd

// Sidebar colors
color-sidebar-text = #fff
color-sidebar-background = #222
color-sidebar-highlight = color-info
color-sidebar-border = rgba(255, 255, 255, 0.1)

// Page header colors
color-page-header-background = #ddd
color-page-header-text = #000

// Breadcrumbs colors
color-breadcrumbs-background = #eee
color-breadcrumbs-text = #222
color-breadcrumbs-delimiter = #aaa

// Section colors
color-page-section-background = whitesmoke
color-page-section-text = #000
color-page-section-border = #ddd

// Form colors
color-form-border-highlight = color-primary
color-form-border-hover = color-info

// Sticky filter colors
color-filter-background = white
color-filter-text = #000
color-filter-icon = color-filter-text
color-filter-placeholder = rgba(0, 0, 0, 0.4)
color-filter-border = #eceeef

color-filter-nomatch = color-danger

color-filter-active-background = color-success
color-filter-active-text = #fff
color-filter-active-icon = color-filter-active-text
color-filter-active-placeholder = rgba(255, 255, 255, 0.4)
color-filter-active-border = #fff

// ui.select colors
color-select-background = #fff
color-select-color = #55595c
color-select-border = #ccc
color-select-highlight = color-warning
color-select-border-highlight = color-info
color-select-icon = #999
color-select-icon-highlight = color-primary

// ui.bootstrap datepicker
color-date-disabled = color-danger

// Loader colors
color-loader-bg = rgba(255, 255, 255, 0.5)
color-loader-icon = color-info