border-rad = 3px
body-rad = border-rad

transition-time = 0.1s
animation-fade-in-speed = 0.5s

// the height of the sidebar header and the page header
top-height = 100px

bp-sm = 40em
bp-md = 64em
bp-lg = 90em