<header class="page-header" layout="row" align="center" justify="between">
	<h1>{{ type.name }}</h1>

	<div class="btn-group">
		<a href="manage/product_type/{{ type.id }}/edit" class="btn btn-primary btn-icon"><i class="fa fa-pencil"></i>Edit</a>
		<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<span class="dropdown-item btn-icon" ng-click="delete()"><i class="fa fa-trash"></i>Delete</span>
		</div>
	</div>
</header>

<breadcrumbs></breadcrumbs>

<div class="page-content">
	
	<table class="table data-table">
		<tr>
			<td class="row-property">Name</td>
			<td class="row-value">{{ type.name }}</td>
		</tr>
		<tr>
			<td class="row-property">
				Products ({{ type.products.length }})<br>
				<a href="manage/product/new?type={{ type.name }}" class="btn push-down btn-primary btn-sm"><i class="fa fa-plus"></i></a>
			</td>
			<td class="row-value">
				<ul>
					<li ng-repeat="product in type.products">
						<a href="manage/product/{{ product.id }}">{{ product.name }}</a>
					</li>
				</ul>
				
				<alert type="info" text="No products with this type" icon="exclamation-circle" ng-if="!type.products.length">
					<btn url="manage/product/new?type={{ type.name }}" small icon="plus">Create one</btn>
				</alert>
			</td>
		</tr>
	</table>

</div>