<sidebar></sidebar>

<div class="frame manage" ratio="1" ng-show="!error">
	
	<header class="page-header" layout="row" align="center" justify="between">
		<h1>Product Type: {{ type.name }}</h1>
		
		<div class="button-row">
			<a href="#/manage/product_type/{{ type.id }}/edit" class="btn btn-primary btn-sm">Edit</a>
			<button class="btn btn-danger btn-sm" ng-click="delete()"><i class="fa fa-trash"></i></button>
		</div>
	</header>
	
	<breadcrumbs></breadcrumbs>
	
	<div class="page-content">
		
		<table class="table data-table">
			<tr>
				<td class="row-property">Name</td>
				<td class="row-value">{{ type.name }}</td>
			</tr>
			<tr>
				<td class="row-property">Products</td>
				<td class="row-value">
					<div layout="row" align="start" justify="between" ng-show="type.products.length">
						<ul>
							<li ng-repeat="product in type.products">
								<a href="#/manage/product/{{ product.id }}">{{ product.name }}</a>
							</li>
						</ul>
						
						<a href="#/manage/product/new" ng-click="preNewProduct()" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
					</div>

					<div class="alert alert-info" ng-if="!type.products.length">
						<p layout="row" align="center" justify="between">
							<span>
								<i class="fa fa-exclamation-circle"></i>
								No products with this type
							</span>
							<a href="#/manage/product/new" ng-click="preNewProduct()" class="btn btn-primary btn-sm btn-icon"><i class="fa fa-plus"></i> Create one</a>
						</p>
					</div>
				</td>
			</tr>
		</table>

	</div>
	
</div>