<page-header text="Return equipment">
	<btn icon="check" ng-click="close()" disable="errors.length">Done</btn>
</page-header>

<!-- <filter model="filter" filtered="filtered"></filter> -->

<div class="page-content">

	<div class="alert alert-danger" ng-show="errors.length">
		<p ng-repeat="error in errors">Error: <b>{{ error.message }}</b></p>
	</div>
	
	<table class="table table-hover booking-table table-filtered" ng-show="filtered.length">
		<thead>
			<tr>
				<th class="table-col-checkbox"></th>
				<th class="booking-heading-product">Product</th>
				<th class="table-col-select-medium">Unit</th>
				<th class="table-col-medium-input">Notes</th>
			</tr>
		</thead>
		<tr ng-repeat="product in booking.products | filter: filter as filtered  track by $index">
			<td><input type="checkbox" ng-model="product.returned" id="returned-{{ $index }}" ng-disabled="product.locked"></td>
			<td><label for="returned-{{ $index }}">{{ product.name }}</label></td>
			<td><label for="returned-{{ $index }}">{{ unit(product.pivot.unit_id).unit_number }}</label></td>
			<td><input type="text" ng-model="product.pivot.notes" class="form-control"></td>
		</tr>
	</table>
	
</div>
